[2016-01-14 02:34] dajulia3 opened #1 "Could I use this in gulp?"
I was thinking of trying to use this as part of a build tool like grunt, but am having trouble figuring out how to programmatically run the pact broker via your wrapper. Could you offer any guidance?

Thank you!

[2016-01-14 02:39] mboudreau commented on #1
you can use this with Gulp or Grunt.  For Grunt, I recommend you use the [grunt-pact project to make your life easier](pact-foundation/grunt-pact).

After pact has been started, this is where you can run scripts that sets your contract.  [There's an example here, but it's a bit out of date](https://github.com/DiUS/pact-consumer-js-dsl/tree/master/example/nodejs).  Sorry for this, I really do need

[2016-05-18 00:02] #1 closed

[2016-06-08 03:18] mefellows opened #7 "Verifier doesn't return error information to client"
[Currently](https://github.com/pact-foundation/pact-node/blob/master/src/verifier.js#L90-L107) we only log Verifier output (using Bunyan), it would be preferable to have the output returned in the promise chain so that we can properly handle it in downstream libs (pact-js, mocha etc.). The current message 'Pact Verification failed' is insufficient information, and too late to make a programmatic c

[2016-06-14 15:50] mboudreau commented on #7
@mefellows is this good to be closed?

[2016-06-14 21:24] mefellows commented on #7
Yep!

[2016-06-14 21:24] #7 closed

[2016-06-20 07:30] jfnavin opened #11 "Verifier doesnt support HTTPS broker URLs"
When running `pact.verifyPacts()` the `pactUrls` array doesn't seem to support HTTPS broker URLs.

Looking at `pact-provider-verifier-darwin/lib/app/lib/pact/provider_verifier/app.rb:88` it appears to parse the URL and then re-construct it with a HTTP scheme.

[2016-06-20 07:46] mefellows commented on #11
Hi @jfnavin, I've raised a bug over at pact-foundation/pact-provider-verifier. I'll try to take a look at that this week (feel free to send through a PR!)

[2016-06-20 23:11] jfnavin commented on #11
Thanks @mefellows! If I get some time today I'll take a look at raising a PR.

[2016-06-20 23:50] mefellows commented on #11
Already in it. Should have a release out within the hour (via my personal
office aka Metro trains)
On 21 Jun 2016 9:11 am, "James Navin" <notifications@github.com> wrote:

[2016-06-21 00:46] jfnavin commented on #11
Awesome! Cheers.

[2016-06-21 01:18] mefellows commented on #11
Released v4.4.2 which fixes this. Thanks for the bug report @jfnavin.

[2016-06-21 01:18] #11 closed

[2016-06-21 07:15] tarciosaraiva opened #12 "Publisher issues"
I pulled the code to try and submit a fix but the tests keep failing - even on a clean clone - so I decided to write an issue here.

#### Issue 1
Under `publisher.js` on line 99 it uses `urlJoin` to create a URL to PUT to pact-broker. The issue here is related to `data.provider` and `data.consumer` which are both objects. You have to retrieve the actual name by using `data.provider.name` and `data

[2016-06-21 07:17] mboudreau commented on #12
@mefellows is this related to the change you did/deployed this morning?

[2016-06-21 07:48] mefellows commented on #12
Looks like it, but not 100% (off the top of my head). There is a unit test associated with it but it's clearly insufficient. I'll investigate this evening if I can.

[2016-06-21 09:12] tarciosaraiva commented on #12
Sorry to be a pain but there's only issue addressed on that commit

On Tue, 21 Jun 2016, 19:11 Matt Fellows <notifications@github.com> wrote:

[2016-06-21 09:13] mefellows commented on #12
Issue 1, do you mean?

[2016-06-21 09:14] tarciosaraiva commented on #12
Yup

On Tue, 21 Jun 2016, 19:13 Matt Fellows <notifications@github.com> wrote:

[2016-06-21 09:14] mefellows commented on #12
All good, WIP mate :)

[2016-06-21 23:25] tarciosaraiva commented on #12
@mefellows @mboudreau somehow version 4.4.3 didn't get published. Can someone act on it? I have a project here needing this change.

[2016-06-21 23:55] mboudreau commented on #12
@tarciosaraiva The fix branch is building.  Waiting to go green before merging and deploying the latest.  Keep your pants on ;)

[2016-06-29 06:54] jfnavin opened #16 "Publisher fails when broker returns 201 response"
In v4.4.3 the Publisher will fail if the Pact broker returns a 201 response.

See `publisher.js:132` - the response is being explicitly checked for a 200 even though the broker can return a 201 CREATED response.

[2016-06-29 07:00] mefellows commented on #16
Nice pickup, will sort this one out asap.

[2016-06-29 07:00] mboudreau commented on #16
good catch :)

On Wed, Jun 29, 2016 at 4:54 PM James Navin <notifications@github.com>
wrote:

[2016-06-29 07:23] tarciosaraiva commented on #12
I think this is good now. Cheers

[2016-06-29 07:23] #12 closed

[2016-06-29 07:40] mefellows commented on #12
👍

[2016-06-29 21:29] mefellows commented on #16
Just awaiting Travis CI build to publish: https://travis-ci.org/pact-foundation/pact-node/builds/141193258. OSX builds are broken today which appear to be slowing down all builds.

[2016-06-30 00:10] jfnavin commented on #16
Awesome. Cheers!

[2016-06-30 11:46] mefellows commented on #16
Build still struggling on at least one OSX [agent](https://www.npmjs.com/package/@pact-foundation/pact-node) - but it has published to NPM and should be sorted now. Thanks for raising!

[2016-06-30 11:46] #16 closed

[2016-08-25 01:50] mefellows opened #20 "Slow Pact Mock Server results in timeout"
See https://groups.google.com/forum/#!topic/pact-support/53nMFlG3EGY for background.

[2016-08-29 04:04] mboudreau commented on #20
Released a fix, 4.5.2, bit not positive if it will fix the issue. Added a test to add a delay for server initialization.

[2016-08-29 05:51] scrumtech commented on #20
Thanks @mboudreau, unfortunately the issue has not been resolved.

[2016-08-29 06:47] mboudreau commented on #20
@scrumtech can you please set the log level to debug and post what's shown?

`pact.logLevel('debug');`

[2016-08-29 23:08] scrumtech commented on #20
[code]

[2016-08-30 23:16] mboudreau commented on #20
@scrumtech have you tried not setting up a directory?

[2016-08-31 00:17] mboudreau commented on #20
@scrumtech seems to me that the pact binary dies before you even start your tests. Maybe you should try to run the binary directly without going through pact-node with the same options.  The binary is available under node_modules/@pact-foundation/pact-node/node_modules/

[2016-08-31 00:33] mefellows commented on #20
I spoke to Wil on this and as I understand the Pact Binary runs just fine.

Looking at those logs, the service comes up at 23:07:24 and shuts down 23
seconds later at 23:07:47. So it is up, but for some reason the 'start'
event is never fired and the promise is never fulfilled. weird.

On Wed, Aug 31, 2016 at 10:17 AM, Michel Boudreau <notifications@github.com>
wrote:

--
Matt Fellows
- http://www

[2016-08-31 00:53] mboudreau commented on #20
Hm, right.  On the pact-node side, it calls the service to check that it's actually up (there's no other way of knowing).  It could be that there's a weird network thing that it can't call pact from the node wrapper.

I might have to try this out further, however, I don't want to have to create a vagrant box to replicate.  Can this be replicated using Docker?

[2016-08-31 09:53] mefellows commented on #20
I'm working on a Docker setup for you now @mboudreau... standby.

[2016-08-31 10:47] mefellows commented on #20
OK, I've ported it to Docker (still works, sorry), and here is the `Dockerfile`.

[code]

Steps to run the tests:
[code]

Additionally, I had to replace the newer version of ruby on line 14 of `provision.sh`, with `apt-get install -y ruby2.0 ruby2.0-dev`. This of course may well be the original problem (although it didn't seem to effect me). Worth looking into.

@scrumtech keen to see if you get t

[2016-08-31 11:18] mboudreau commented on #20
Why did you have to install Ruby? We don't need it for pact-node...

On Wed, Aug 31, 2016, 8:47 PM Matt Fellows <notifications@github.com> wrote:

[2016-08-31 11:30] mefellows commented on #20
I think it's just part of a default image type thing. As I understand it's
part of their dev environment as their SOE is Windows, so they need a
linux-env to do a lot of this fun new stuff.

In any case, if it is Ruby that's the cause (I'm doubtful as it worked for
me, but remain open and skeptical) we want to know about any conflicts.

On Wed, Aug 31, 2016 at 9:18 PM, Michel Boudreau <notificatio

[2016-08-31 23:22] mboudreau commented on #20
This is getting weird and frustrating that we can't reproduce this anywhere... I've seen this for months and only affects certain people.

[2016-09-02 02:47] mboudreau commented on #20
@scrumtech can you try the docker version to see if it fails for you? Trying to see what's the 'variable' that's making this fail.

[2016-09-04 23:43] scrumtech commented on #20
Will try to get back to you today on this.

[2016-09-05 00:16] mefellows commented on #20
Thanks Will.

On Mon, Sep 5, 2016 at 9:43 AM, Will Falconer <notifications@github.com>
wrote:

--
Matt Fellows
- http://www.onegeek.com.au/

[2016-09-05 06:42] scrumtech commented on #20
After playing with the docker image at work, I feel that the docker image has been changed so much it isn't a real representation of the issue we are having.

Having said that, I quickly span up a docker image based on node:5 and was able to get things working, which has given me an idea to work around this issue for the moment. I'll share my dockerfile or docker-compose.yml when I get it worked o

[2016-09-05 06:46] mboudreau commented on #20
@scrumtech docker should be able to recreate exactly the situation you
would be seeing in vagrant.  If you feel that it's not, feel free to update
the docker image to show your situation.

On Mon, Sep 5, 2016 at 4:42 PM Will Falconer <notifications@github.com>
wrote:

[2016-09-05 06:46] mefellows commented on #20
How can it be - it's a completely different runtime :)

I'm glad the docker container worked though.

@Michel - any chance you might change your mind on the vagrant side of
things?

On Mon, Sep 5, 2016 at 4:42 PM, Will Falconer <notifications@github.com>
wrote:

--
Matt Fellows
- http://www.onegeek.com.au/

[2016-09-05 06:51] mboudreau commented on #20
@mefellows Vagrant isn't going to help me debug the issue unless I can reproduce the simplest steps possible to make it break.  There are many things that could be making it break in vagrant...

I have a sinking feeling that there's something weird happening with the network not allowing it to connect to the pact service when it's up.  I can give it a shot tonight over vagrant.

[2016-09-05 06:55] mefellows commented on #20
Yeah I totally get your point, we can't rule out Vagrant but there is
something about that runtime that's the problem.

@Will - I'm actually wondering if you could try upping this value from 10s
to something much bigger:
https://github.com/pact-foundation/pact-node/blob/master/src/server.js#L116.
It's a bit of a shot in the dark but it seems to add up.

I have a sneaking suspicion it's as simple a

[2016-09-05 07:03] will commented on #20
I could change the number I suppose, but I don’t even know what pact is :(

[2016-09-05 07:07] mefellows commented on #20
Sorry @will, looks like I accidentally brought you into the convo inadvertently (sent via email). You should read up on Pact though hehe ;)

cc: @scrumtech

[2016-09-05 07:44] mboudreau commented on #20
@mefellows bahahaha, awesome

[2016-09-05 09:44] scrumtech commented on #20
Ok. I have made some progress. Docker the way @mefellows was running it, isn't going to fit into our dev environment (too slow to build a docker image each time), however, it did work. So I have been trying an alternative docker method

` docker run --rm -it -v /vagrant:/vagrant node:5 npm i && npm t`

This still doesn't work. However, this is not conclusive, since I'm on Windows 7, so I have to r

[2016-09-05 09:45] scrumtech commented on #20
@mefellows I've actually been running the tests with a 30s timeout. When it was working on docker, it worked well within the default 2 second timeout.

[2016-09-05 10:00] scrumtech commented on #20
@mefellows I tried changing that timeout to 30 seconds , and no difference.

[2016-09-05 23:26] scrumtech commented on #20
I was thinking more about the issue this morning. From the testing we have done so far I think we can say the following
1. It works without Vagrant
2. It doesn't work WITH Vagrant

Vagrant is definitely the critical bit of information here. So we must be testing in Vagrant.

I'm going to cut down the example I created to the minimum required to reproduce the problem (i.e. remove as much of the pro

[2016-09-05 23:54] mefellows commented on #20
That'd be great thanks Will

On 6 Sep 2016 9:26 am, "Will Falconer" <notifications@github.com> wrote:

[2016-09-06 00:22] mboudreau commented on #20
@scrumtech that would help a lot, thanks :)

On Tue, Sep 6, 2016 at 9:54 AM Matt Fellows <notifications@github.com>
wrote:

[2016-09-06 01:25] scrumtech commented on #20
@mefellows @mboudreau Quick question: does the test file `workItemService.js` and `package.json` need to be made any more simple?

FYI: removing all provisioning (except installing node) still reproduces the problem.

[2016-09-06 01:33] mboudreau commented on #20
@scrumtech, at this point it shouldn't affect it.  I'll see if I can
reproduce it using vagrant.

On Tue, Sep 6, 2016 at 11:25 AM Will Falconer <notifications@github.com>
wrote:

[2016-09-12 15:17] mboudreau commented on #20
@scrumtech Alright, I finally got some time to tinker with this.

First, I'd like to say that your example simply didn't work.  When I added `console.log` to all the functions within your tests, there was something wrong because most of them were never called, including the 'beforeEach' that actually starts the mock service.  I'm not sure why that is, but the second I use ES5 instead of ES6 javasc

[2016-09-13 13:05] mefellows commented on #20
The example works for me Michel on a clean checkout and install (not using
vagrant), node v4 and v6. What's not working for you?

Or Do you mean there is extraneous stuff that's not adding value?

On Tuesday, 13 September 2016, Michel Boudreau <notifications@github.com>
wrote:

--
Matt Fellows
- http://www.onegeek.com.au/

[2016-09-13 13:51] mboudreau commented on #20
The example wasn't working at all for me. It never went into the beforeEach
then timed out.

On Tue, Sep 13, 2016, 11:05 PM Matt Fellows <notifications@github.com>
wrote:

[2016-09-20 12:19] tarciosaraiva commented on #20
@scrumtech had a chance to have a quick look at this.

Your implementation worked for me on v4 and v6 locally. No issues.
On Vagrant the story is a bit different.

I'm not a Vagrant "connoisseur" so please excuse if some of my comments are a bit naive. Here's my results so far:

- Vagrant didn't work for me with box `ubuntu/xenial64`. The network would not come up. I found [this thread](https://gi

[2016-09-20 12:22] mefellows commented on #20
Thanks for digging @tarciosaraiva!

The `pact-mock-service` issue appears to be a bit random - from reading the internets that problem is essentially either a combination of a timeout (because it took to long and the proxy server d/c cutting the file short) or of load on the proxy server. Normally, a subsequent install sorts it out. In any case, once we switch to the dynamic library this should be

[2016-09-20 12:36] tarciosaraiva commented on #20
ya that's not what I'm experiencing on my Vagrant box @mefellows - constant failures, taking 20+ minutes each time.

I'm going through the code of `pact-mock-service` and there's a [recommendation on Traveling Ruby related to package optimisation](https://github.com/phusion/traveling-ruby/blob/master/REDUCING_PACKAGE_SIZE.md) which I'm not sure we are applying.

Might be worth checking out to redu

[2016-09-20 12:39] mefellows commented on #20
Yup, there's definitely some room for improvement on that front, but beware - as you'll see in the commit log (or maybe it was the verifier, but both have similar problems) we're still not convinced what is actually required to prevent stuff breaking on windows (at some point the distro was down 30% on what it was today).

[2016-09-21 00:59] andrewspinks commented on #20
@tarciosaraiva I was having the exact same problems with npm install yesterday. Today it seems to be working (but still seems slow). I think the node registry is flaky. It sounds like there are some mirrors available, so if it happens again maybe we can try them out: http://stackoverflow.com/questions/6383894/npm-registry-alternative-to-http-registry-npmjs-org-npm

[2016-09-21 03:52] andrewspinks commented on #20
@scrumtech I believe this is just caused by the mock server being very slow to start on vagrant / ubuntu. When I change the mocha timeout to be 10 seconds for starting the mock server then it works for me.

I think we should improve the logging / README to help make it clearer that the server has not started yet.

[code]

[2016-09-21 03:54] tarciosaraiva commented on #20
One way to go around this slowness is to pass `--delay` to mocha and run the tests once all is up. An example is here: https://github.com/tarciosaraiva/pact-melbjs/blob/master/helper.js

[2016-09-21 04:08] mefellows commented on #20
I thought @scrumtech tried that, along with increasing the timeout in pact-node itself (e.g. https://github.com/pact-foundation/pact-node/issues/20#issuecomment-244708674). But if we missed that and it fixes it - then great! - we might want to make it configurable though.

[2016-09-21 04:16] mboudreau commented on #20
I've incremented it in the last release to 30 seconds from 10, but I did
have to increase the timeout in mocha as well.  This is mainly because
vagrant runs the binary a lot slower.

On Wed, Sep 21, 2016 at 2:08 PM Matt Fellows <notifications@github.com>
wrote:

[2016-09-21 05:29] scrumtech commented on #20
This is crazy.

I've had trouble today getting `ubuntu/xenial64` working. So I switched to `bento/ubuntu-16.04` and everything worked!

FYI: problem with `ubuntu/xenial64` was with running `apt-get update` and `apt-get install` so provisioning the box wasn't happening.

[2016-09-21 05:38] mefellows commented on #20
👏  glad to hear it's sort of working. Would love to get to the bottom of it but at least it seems like it's _probably_ not a bug in the Pact Node/Js world.

What do you see as the next steps @scrumtech ?

[2016-09-21 05:40] scrumtech commented on #20
As I was mentioning to @andrewspinks, I think we need to move way from the `ubuntu/*` base boxes. They seem to have a number of issues and I have been told by a number of people that the bento boxes are better.

We will start using Pact now for integrating with a new service we are writing. So we will start to get our usage up and try to contribute going forward.

[2016-09-21 05:46] tarciosaraiva commented on #20
That's great to hear @scrumtech! After my investigation last night I did some research today about what people are using for their Linux Vagrant boxes and most of them ran away from `ubuntu/*` boxes due to complications on provisioning.

Glad to hear it's working now on your end. Looking forward to your contributions :+1:

[2016-09-25 21:32] travi opened #22 "having trouble verifying pacts from broker"
when running `verifyPacts` with `pactUrls` pointing to local files, it is successfully doing verification of the pact. however, as soon as i try to change the url to point to a pact on my remote broker (https and using basic auth), i get the following error:

[code]

note that the pact that i was using locally was a file fetched directly from the same url and credentials using postman.

i would ex

[2016-09-25 21:55] travi commented on #22
Also, that same password string is working fine for calls to `publishPacts`

[2016-09-28 02:07] travi commented on #22
i've tried using `\` and `\\` in an attempt to escape the characters that appear to be (maybe?) causing splitting as well as url encoding the password. i'm not sure what other escaping methods would be more appropriate here, or if that is even what is causing the problem for sure.

any help in how to debug this a bit further would be greatly appreciated

[2016-09-28 02:15] mboudreau commented on #22
@mefellows Can you shine some light as to why the provider-verifier is doing this?

@travi can you give us a working example of how you create this issue?

[2016-09-28 02:54] travi commented on #22
my script can be found [here](https://github.com/travi/travi-api/blob/94afa10a3c028ebb96f7e659ddf332d3240a148e/scripts/pact-verification.js). it obviously does not contain the offending password, but i can at least share that the password does include the special characters `&`, `^`, `*`, and `@`. I still see the `*` and `^` in the output, but the segments that are in the input are the portions th

[2016-09-28 03:46] mefellows commented on #22
Thanks @travi - I'll take a look at this and have created an issue over at the verifier. It's probably just a matter of properly escaping the string in the `pact-provider-verifier` gem.

[2016-09-29 12:17] andrew-allen opened #24 "Underscores in header keys are changed to hyphens during requests"
I have generated an interaction that expects the following request headers:

    "headers": {
        "Accept": "application/json",
        "customer_key": "1",
        "tenant_key": "1"
    }
When attempting to hit the the wrapper server, headers get transformed into a different format. Partial output from the mock-server-integration logs:

    "headers": {
        "Customer-Key": "1",
        "T

[2016-09-29 12:49] mboudreau commented on #24
Hm, using underscores in headers is extremely unusual, probably against the
http spec, hence the conversion.  The issue is not with pact-node however,
but with the underlying pact-mock_service binary.  If you'd want this to be
rectified, you'll have to create a feature request there.

On Thu, Sep 29, 2016 at 10:17 PM andrew-allen <notifications@github.com>
wrote:

[2016-10-03 21:12] mefellows commented on #22
Update: I've taken a quick look this morning and I am able to supply passwords with these chars to the provider verifier. I currently suspect https://github.com/pact-foundation/pact-node/blob/master/src/verifier.js#L58 is the issue, it should probably be wrapping these arguments in quotes.

[2016-10-03 22:05] mboudreau commented on #22
Cool, I'll see if I can fix that and do a release.

On Tue, Oct 4, 2016, 8:12 AM Matt Fellows <notifications@github.com> wrote:

[2016-10-03 22:08] mefellows commented on #22
I'm half way through a fix from this morning, I'll submit a PR in an hour or 2.

[2016-10-04 01:01] #22 closed

[2016-10-05 02:45] travi commented on #22
i can confirm that the change in master does resolve the issue that i was seeing. thank you for the quick resolution. will there be a release that includes the fix cut soon?

[2016-10-05 02:51] mboudreau commented on #22
Good to hear. I'll get a release out today.

On Wed, Oct 5, 2016, 1:45 PM Matt Travi <notifications@github.com> wrote:

[2016-10-05 02:54] mefellows commented on #22
Awesome news @travi, thanks for checking out the master and testing for us.

[2016-10-06 03:22] mboudreau commented on #20
@scrumtech Good to hear.  Can I close this issue then?

[2016-10-06 03:23] mboudreau commented on #24
@andrew-allen Anything else to add?  Did you create an issue on the other project?

[2016-10-06 03:24] mboudreau commented on #22
@travi new version released with those changes: 4.5.4.

Please let me know how that goes.  Cheers.

[2016-10-06 03:24] mefellows commented on #22
Nice work team!

[2016-10-06 05:22] travi commented on #22
Looks good on my end. Thanks again.

[2016-10-07 17:35] andrew-allen commented on #24
We ended up going with spinal case header formats, closing this as its not an issue in this project.

[2016-10-07 17:35] #24 closed

[2016-10-14 11:43] #20 closed

[2017-01-09 14:53] Blackbaud-PaulCrowder opened #27 "The node wrapper should pass the new --sslcert and --sslkey options to server"
Two new command line options, `--sslcert` and `--sslkey`, were added to the Ruby pact mock service which this library wraps.  These options allow you to specify a particular SSL certificate instead of using one that's generated each time.  This way you can create a certificate, add it to your computer's list of trusted root certificates, and avoid the SSL errors typically thrown by web browsers.

[2017-02-08 12:47] mboudreau commented on #27
@Blackbaud-PaulCrowder

Hi,

We've just released version 4.7.0 of pact-node, which has this new functionality.  Please refer to the readme for the usage.

Please confirm that this is working for you and get back to us so that we can close this issue.

Cheers.

[2017-02-21 15:46] jonoc330 opened #30 "Couldn't start Pact Verifier process with PID"
Hi guys, I recently started writing some code to verify pacts. For some reason every time I get "Couldn't start Pact Verifier process with PID: *" even though I've tried cleaning running instances. Any advice you guys could give for getting around this issue? On Mac OS.

[2017-02-21 16:50] ichyr commented on #30
hi, @jonoc330. Have you tried:

1. running it with different port
2. killing all processes node related
3. checking if PID is not in use by some other application

Please post a screenshot of command you try to run in terminal and output of it's execution.

[2017-02-21 16:55] jonoc330 commented on #30
Thanks @ichyr ! I haven't tried running it with a different port, although I'm not entirely sure pact-node gives you the option to. How would I go about doing that? Killed all processes node related (even just ended up restarting my computer at point, and the PIDs being used aren't being used.

![screen shot 2017-02-21 at 4 55 08 pm](https://cloud.githubusercontent.com/assets/2540607/23175194/8b66

[2017-02-21 16:59] ichyr commented on #30
@jonoc330

Running with different port is shown here: https://github.com/pact-foundation/pact-node#create-pact-mock-server

Full example can be seen few line higher.

[2017-02-21 17:09] jonoc330 commented on #30
@ichyr that's for consumer contract creation right? I'm attempting to verify on the provider side. Assumed the provider lib was doing that for me.

[2017-02-21 21:31] mefellows commented on #30
Hi @jonoc330 - any chance you could provide a gist of the `pact-verification.js` file?

Assuming you have tried the usual process removal of `./node_modules` and re install etc., could you please try running `./node_modules/.bin/pact-provider-verifier` directly?

This library essentially wraps an underlying Ruby process, so it's possible to rule in/out JS issues if you can't run it directly.

[2017-02-22 09:38] jonoc330 commented on #30
https://gist.github.com/jonoc330/9916ce6f6e44db213f43d66dcd13ff24

I'll try running it directly.

[2017-02-22 09:58] mefellows commented on #30
Looks pretty reasonable, although I'm guessing you've sanitised things?

Let us know how the direct execution goes, that should help us rule out a few things.

[2017-02-22 11:17] jonoc330 commented on #30
So interestingly enough, running it via direct execution works perfectly!

[2017-02-22 11:36] mefellows commented on #30
I've seen this sort of issue [before](https://github.com/pact-foundation/pact-node/issues/20). I'm wondering if it's like some sort of network configuration - e.g. perhaps it's listening on `127.0.0.1` and not `0.0.0.0` (i.e. all interfaces) and that's why node can't detect that it's up?

Next steps would be to confirm the arguments flowing through to the mock service are correct (as per your manu

[2017-02-22 11:59] jonoc330 commented on #30
Arguments flowing through from node:

pact-provider-verifier --provider-base-url "http://localhost:8080" --pact-urls "/path/to/contract.json" --provider-states-url "http://localhost:8080/states" --provider-states-setup-url "http://localhost:8080/setup"

Basically the same thing.

[2017-02-22 12:02] jonoc330 commented on #30
Okay i've figured it out. The timeout is set to 10000ms which isn't long enough for the pacts to fail and return.

`
return deferred.promise.timeout(10000, "Couldn't start Pact Verifier process with PID: " + this._instance.pid)
		.tap(function (data) {
			logger.info('Pact Verification succeeded.');
		});
`

[2017-02-22 21:50] mefellows commented on #30
Interesting, I think we should make this timeout configurable (and also fix the error message - it's misleading). I'll look into this.

Also, great work :)

[2017-02-22 22:48] jonoc330 commented on #30
Awesome, that'll help loads.

Cheers for your help Matt!

[2017-02-23 07:14] mefellows commented on #30
No worries, take a look at PR #31 if you're desperate for a fix in the meanwhile.

[2017-02-24 18:23] Blackbaud-AlexKingman commented on #27
Thanks, @mboudreau

I'm trying to use the `sslcert` and `sslkey` params that's included in version 4.7.0, but it doesn't seem to be overwriting the cert. I get the same auto-generated cert each time. Also, I noticed that when giving the params bad paths to non-existent files, there doesn't seem to be any errors in the log. Am I doing something wrong?

Thanks.

[2017-02-26 00:59] mefellows commented on #27
I've created a [gist](https://gist.github.com/mefellows/1d9d6e76412b9326b4f96dfe7ee7e3c8) to replicate the issue. When I run it, I get a failure indicating it can't find the ssl certificate (or key if I create the file).

Are you able to modify or create a gist to assist?

FWIW we have a few integration-like [tests](https://github.com/pact-foundation/pact-node/blob/master/src/server.spec.js#L94-L1

[2017-02-26 01:19] mboudreau commented on #27
Alex,

We'll try to replicate the issue and squash the bug, but you'll need to
provide a bit more information as to what's outputted, what you're trying
and which OS you're on.

Cheers.

On Sat, Feb 25, 2017, 4:59 PM Matt Fellows <notifications@github.com> wrote:

[2017-02-27 05:27] #30 closed

[2017-02-27 07:59] mefellows commented on #30
`v4.8.0` just released!

[2017-02-27 20:00] Blackbaud-AlexKingman commented on #27
@mefellows @mboudreau Thanks for your quick help! Now that I understand the implementation a bit more, I see that my original question was a bit misguided. The `createServer` method in pact-node does indeed work properly, as your gist shows. However, I'm trying to implement these options from the pact-js library, and I see that the constructor in pact-js doesn't yet handle the `sslcert` and `sslke

[2017-02-27 20:11] mefellows commented on #27
No worries! It's on my to-do, but I'll try and get that sorted this morning for you. Closing this for now.

[2017-02-27 20:11] #27 closed

[2017-02-28 10:38] jonoc330 opened #32 "Strange issue reading contract file"
For some reason any time pact node attempts to retrieve a contract file (via http or file system) there is an error reading the contract.

**Error: reading pact at /path/to/json.json**

What I know is:

- I've tried multiple contract files on the file system/http requests to no success.
- Doing a manual GET request to the HTTP URLs I'm using works fine.
- Permissions of the contract files on the f

[2017-02-28 11:01] #32 closed

[2017-02-28 11:03] jonoc330 commented on #32
Closing this as I've realised Error: reading pact at is basically a blanket message if there are errors with the provider verification - it's not actually an error "reading" the pact so to speak.

[2017-02-28 16:46] mboudreau commented on #32
Hm, we might want to fix that error message then to be more specific.
Please keep this open.

On Tue, Feb 28, 2017, 3:03 AM Jon Cleary <notifications@github.com> wrote:

[2017-03-16 21:10] mefellows opened #33 "Allow relative paths in pact publish task"
Currently, when passing `pactUrls` to the publish task, the urls need to be absolute. It would be nice to pass in a relative path.

See https://github.com/pact-foundation/pact-js/issues/31 + https://github.com/pact-foundation/pact-node/commit/a5afdb17e2c3ca8acf6c6a2051e7575cc4bcb4b2#commitcomment-21360868 for background.

I suspect part of the complication is relativity to the underlying Ruby proc

[2017-04-27 05:12] lippea opened #34 "Having an error with finalize()"
I'm using "pact": "2.2.1" and today I found same code failed with newly npm install.
[code]

This error was introduced between 3 days ago to today.
I compared the \node_modules\@pact-foundation\pact-node\package.json in two copies and find difference:
[code]
[code]
Having the same issue with pact version "pact": "2.3.4"
Could anyone please help have a look?

[2017-04-27 05:40] mefellows commented on #34
Hi @lippea,

Thanks for raising this. Could you please provide a test that we can use to reproduce the issue?

[2017-04-27 05:44] lippea commented on #34
Hi @mefellows I don't have a simple test to reproduce it at the moment. It happens in our real project testing. But just wondering should things keep the same if I use the same version of pact?

[2017-04-27 05:45] mefellows commented on #34
Downgrading to the previous versions of the two libraries you mention (in fact, in this case just the mock-service seems to be causing grief) should sort it out.

That being said, we'd love to know what's broken so that we can fix it!

[2017-04-27 05:50] lippea commented on #34
@mefellows thanks for help. I think I figured out why the versions changed while I was using the same pact version.
But I only refer to pact in my package.json. I tried to downgrade it to 2.20, it didn't work. The two libraries is referred inside pact-node, which is out of my control. And it's causing problem in CI build, which I can just modify it. I'm trying to fix it to unblock our main branch,

[2017-04-27 05:51] mefellows commented on #34
You can override the versions of those libraries in your own `package.json` which will take precedence over the transitive dependencies declared in `pact-node`.

[2017-04-27 05:54] lippea commented on #34
@mefellows thanks. I'll give it a try now.

[2017-04-27 05:56] lippea commented on #34
Got another error:
[code]

[2017-04-27 06:02] lippea commented on #34
I got it through with adding "@pact-foundation/pact-node": "4.8.1",
Thanks @mefellows

[2017-04-27 07:03] mefellows commented on #34
Glad to hear you've got a workaround, if you get a moment we'd love an example so that we can reproduce and fix.

[2017-05-10 11:03] joelgithub commented on #34
I've also had this error. After some investigation it seemed to me that the problem is in the pact-mock_service and was introduced in 1.0.0 which corresponds to pact-node 4.8.2. Problem has to do with query parameter parsing of the pact dsl. From this version the query is supposed to be a map rather than a string as in previous versions. The code in lib/pact/consumer_contract/request_decorator.rb

[2017-05-10 11:19] mefellows commented on #34
Thanks for the investigation on this @joelgithub!

@bethesque what are your thoughts?

[2017-05-10 12:58] joelgithub commented on #34
I also found a related problem that the metadata section of the pact generated by my pact-js consumer tests is not compatible with the way pact-jvm's PactReader.loadPact resolves the pact spec version.

This code in PactReader (from the master branch/latest version):
[code]

expects a metadata spec. version section that has this format:
[code]

BUT my pacts generated from pact-js generates a metad

[2017-05-10 13:10] mefellows commented on #34
Interesting, this is a problem in the upstream Ruby library (which also doesn't support v3).

I've raised an [issue](https://github.com/realestate-com-au/pact/issues/137) over there and will keep this tracking issue until it's resolved.

[2017-05-10 22:20] bethesque commented on #34
The ruby code should handle both a map and a string. The `include_matching_rules` code was a PR written by someone who didn't understand that, and I merged it without considering that, sorry. I will fix it as soon as I can.

[2017-05-10 23:35] bethesque commented on #34
Ok, I've fixed the mock server. @mefellows can you update the JS mock server package to use pact-mock_service v 2.0.1 when you have time?

[2017-05-11 10:31] mefellows commented on #34
Will do - thanks @bethesque

[2017-05-11 10:50] mefellows commented on #34
Done: https://www.npmjs.com/package/@pact-foundation/pact-mock-service

`v2.0.1` released - I'll update Pact Node / Pact JS shortly.

[2017-05-11 15:45] mboudreau opened #37 "Errors in latest provider-verifier"
When running tests with the latest provider-verifier, I'm seeing some errors coming up from the binary, but the tests still pass.  Is it cause for concern?

[2017-05-11 23:22] lippea commented on #34
I'm glad the root cause is found. Thanks for fixing this. I can give a try in my project when the fix is ready.

[2017-05-12 00:36] joelgithub commented on #34
Yes thanks for the quick fixing! I to will verify as soon as I can.

[2017-05-12 02:35] mefellows commented on #34
`v2.4.2` just released, please let us know how you go!

[2017-05-12 03:14] travi commented on #34
with the following installed, i still appear to be getting the same error

[code]

[2017-05-12 03:21] travi commented on #34
nevermind. it looks like this project depends on `pact` as well as `@pact-foundation/pact-node`, so after updating to the latest version of `pact` as well, things are working.

thanks for getting this resolved!

[2017-05-12 04:22] mefellows commented on #34
Great! FWIW any project using a recent `pact` should automatically bring in
the pact-dev dependency.

On May 12, 2017 1:21 PM, "Matt Travi" <notifications@github.com> wrote:

[2017-05-12 04:31] mefellows commented on #37
On first glance they look like output from negative test cases (e.g. 401s, 404s and file no found)

[2017-05-12 10:17] mefellows commented on #34
I'll wait for @lippea and @joelgithub to respond before closing, but it looks like a promising start!

[2017-05-12 11:00] joelgithub commented on #34
It seems that both the map and string versions of the query is now supported so that solves my problem for now. I gather from reading the [issue](https://github.com/realestate-com-au/pact/issues/137) that the specification version syntax in the pact metadata is still to be decided and implemented in pact-jvm (and possibly elsewhere)? It doesn't hurt me right now though.
Thanks for the quick action

[2017-05-14 06:02] mefellows commented on #34
Thanks for confirming! I'm going to close this issue and re-open a separate one for the metadata problem.

[2017-05-14 06:02] #34 closed

[2017-05-14 06:07] mefellows opened #38 "Metadata object in pact file not standards compliant"
IN #34 we found a problem where the metadata section of the pact generated by my pact-js consumer tests is not compatible with the pact-jvm's PactReader.loadPact resolves the pact spec version.

This code in PactReader (from the master branch/latest version):
[code]

expects a metadata spec. version section that has this format:
[code]

BUT pacts generated from pact-js generates a metadata section

[2017-05-16 08:55] mboudreau commented on #37
Should we try to catch these problems in pact-node or just let the process blow up?

[2017-05-16 08:57] mefellows commented on #37
Hmmm might be difficult. One option is to filter out stack traces and allow user to get to the detail if there are errors (log to file?). https://github.com/pact-foundation/pact-js/issues/46

[2017-05-21 22:44] lippea commented on #34
After upgrading the pact version to "2.4.2", it looks fine in my project. Thanks for the fix @mefellows

[2017-05-29 01:01] bethesque opened #39 "Please write a RELEASING.md file"
It should have information on how to update the pact library dependencies and make a new release.

And confirm the position of the pact-node package in the Pact Dependency Graph of Doom https://github.com/pact-foundation/README/blob/master/dependency_graph.md.

[2017-08-02 06:41] rsrinathr opened #41 "certificate verify failed"
I am running my app locally using self signed cert. When I run the Provider validation. I am getting below error. Is there way to avoid certificate validation ?
failure/Error: replay_interaction interaction
     OpenSSL::SSL::SSLError:
       SSL_connect returned=1 errno=0 state=error: certificate verify failed

[2017-08-03 01:47] bethesque commented on #41
That's an interesting question. We've got an option to provide a custom certificate for the mock service, but I don't think we've done it on the provider side. It should be straightforward to turn off ssl verification. I'll have a look at it. Can you raise an issue in the pact-provider-proxy project please? That's where the code is.

[2017-08-03 04:14] bethesque commented on #41
I've updated pact-provider-proxy. Now we have to update pact-provider-verifier, then pact-ruby-standalone...

[2017-08-03 04:56] bethesque commented on #41
Please update pact-node to use pact-1.2.0 standalone. Though, I have a horrible suspicion it's still using the old separate mock/verifier packages, is that right @mefellows ?

[2017-08-03 08:56] mefellows commented on #41
It sure is. I've started the process locally but it will be probably a week by the time we get it in (.. to all of the packages) and properly test it.

My suggestion is to turn off SSL on the verification for now (i.e. point to a non-https endpoint). Not ideal, I know.

[2017-08-05 02:00] bethesque commented on #41
I can update the individual packages, that's ok.

[2017-08-05 02:46] bethesque commented on #41
Please update the js to use `pact-provider-verifier-1.1.4-2`

[2017-08-06 05:09] mefellows commented on #41
Fixed as of 505b3d85d7e92a599a85549bac02846e00b497b7, and release pact v2.7.0 just now.

@bethesque are there any new flags that need to be passed through to the verifier or is it set by default?

[2017-08-06 22:36] bethesque commented on #41
All verification is turned off now. I don't think it's relevant for contract testing. Happy to be convinced otherwise though.

[2017-08-06 23:41] mefellows commented on #41
+1

Especially when we start to consider other protocols (e.g. websockets etc.)
our job is not to test the protocol, but to test the contract. Other
testing strategies are better suited to this.

On Mon, Aug 7, 2017 at 8:36 AM, Beth Skurrie <notifications@github.com>
wrote:

--
Matt Fellows
- http://www.onegeek.com.au/

[2017-08-06 23:46] bethesque commented on #41
Even if someone did think that checking SSL had value, the tests would be running against a test instance anyway, so would give no confidence that the certificate was valid in production.

[2017-08-07 02:54] rsrinathr commented on #41
I tried the 2.7.0 version and i am not getting the SSLError. Thanks for help.

[2017-08-07 03:45] #41 closed

[2017-08-14 10:10] soundstep opened #42 "Not finding linux pact mock service on centos 7"
I was previously using nodejs 4.3.2 on a centos 7 linux box running jenkins.
Since I've updated to nodejs 8.3.0, I can't seem to be able to require `@pact-foundation/pact-node`.
I get the following error:

[code]

I tried with `@pact-foundation/pact-node` version v4.8.1 and v4.12.0 (latest).

I first noticed the problem with karma-pact, but the problem happens in another repo where I don't use kar

[2017-08-14 10:19] soundstep commented on #42
Update, not related to nodejs v8.3.0 (unless it doesn't happen all the time).
I'm now able to load pact-node when I revert it to v4.8.1, so maybe just a problem with this v4.12.0.
Hope that helps.

[2017-08-14 10:43] soundstep commented on #42
Sorry another update, really hard to track what's going on.
I had the error once with nodejs v8.3.0 and and pact-node v4.8.1, so it is related to the latest nodejs version as I've never had it before, just not happening all the time.

The failure happens in a grunt task that looks like in case it is relevant:

[code]

[2017-08-14 11:37] mefellows commented on #42
As you may have guessed, we use optional dependencies to pull down dynamically (install time) the correct OS-specific package, in this case linux 64 bit. It's common to see that warning, but of course if it doesn't install one of the packages things won't work!

Are you able to please enable detailed logging for the npm install step (forgotten how off the top of my head) and share a gist of the ou

[2017-08-14 13:03] soundstep commented on #42
OS: Linux Centos 7
Nodejs: v8.3.0
NPM: 5.3.0
Pact-node: 4.8.1

You can find 2 log files in this gist, a npm install verbose and the jenkins job where the following error appears:

[code]

https://gist.github.com/soundstep/e8c1b72707fa18a041e591b7ed7b543b

Hope that helps!

[2017-08-14 23:02] mboudreau commented on #42
This is probably because if the way pact node tries to discover the os
specific version. I should have time to fix this tomorrow and try out node
8.

On Mon., 14 Aug. 2017, 11:03 pm Romuald Quantin, <notifications@github.com>
wrote:

[2017-08-15 07:17] soundstep commented on #42
Hi @mboudreau
Funny thing is that sometimes it is working, it is 50/50 I would say in our pipeline. There must be some timings involved? Did you see anything wrong in these logs?
Let me know if you guys can reproduce.

[2017-08-15 07:20] mboudreau commented on #42
I'll look into it and report back.  There shouldn't be any "timing"
involved with the dependency, but there is a timeout in case the executable
doesn't spin up.  It would be helpful if you are to produce a dockerfile
that means me reproduce the issue.  Thanks.

On Tue, Aug 15, 2017 at 5:17 PM Romuald Quantin <notifications@github.com>
wrote:

[2017-08-15 07:37] soundstep commented on #42
I'll make to make some time to try to reproduce the problem with a simple example. Meanwhile if you find the problem, let me know ;)

[2017-08-15 12:02] soundstep commented on #42
Another update, I reproduced the problem on this Centos 7 instance fairly easily with these files:
https://gist.github.com/soundstep/8989b6c1c431458c8e4da3a9d0bfe8ba

I tried to dockerize it, but I can't reproduce the problem at all.
Seems to be related to speed, timing, execute timing, race condition or something similar?

The linux instance is a 4 CPU core (`Intel(R) Xeon(R) CPU E5-2680 v2 @ 2.8

[2017-08-15 12:04] soundstep commented on #42
Here is the error it generates BTW:

[code]

[2017-08-15 22:56] mefellows commented on #42
Thanks @soundstep - I wish all bug reports came with as much info! This should enable us to get to the bottom of it.

[2017-08-16 00:58] mboudreau commented on #42
@soundstep you are an absolute champ! Looking at the problem now.

[2017-08-16 01:54] mboudreau commented on #42
@soundstep I'm 90% sure this has nothing to do with node, but instead npm. As part of the install step, it tries to install an OS specific binary of the pact mock service.  By default, it tries to download all of them, but npm will ignore all of them except for one because of the package restrictions (must be on "linux" and have architecture "x64").  I'm guessing that something might have changed

[2017-08-16 03:09] mboudreau commented on #42
@soundstep erm, I can't seem to be able to reproduce your issue using the centos7 image in Virtualbox.  Every time I run node, it seems to find the pact-mock-service correctly.  However, I did notice that in your gist, you seem to be ignoring the `npm install` step (as per what is in your output), which is quite important or else it won't get the OS specific binaries needed.

[2017-08-16 06:37] soundstep commented on #42
Npm install is not there? I did test manually though. I will re-check today
and keep you posted.

Your guess sounds right about npm, did you notice anything special in the
verbose log in the first gist?

On 16 Aug 2017 04:09, "Michel Boudreau" <notifications@github.com> wrote:

[2017-08-16 06:47] mboudreau commented on #42
From your gist:
[code]
Which seems to be missing `npm install` step in there. Either way, I can't seem to be able to reproduce it with centos7 using your exact steps.  I didn't end up using vagrant however since it shouldn't matter just to run a few steps.

[2017-08-16 07:01] soundstep commented on #42
I was not able to reproduce in docker either, that's why I tried vagrant.
Docker is not fully emulating an os, as the kernel is shared with your
local computer. Our DevOps never use docker to debug os related problem for
that very reason.

I will test again once I get to the office and keep you posted.

On 16 Aug 2017 07:47, "Michel Boudreau" <notifications@github.com> wrote:

[2017-08-16 07:15] mboudreau commented on #42
Yep, hence why I installed centos on a VM and tried it there, but still wasn't able to reproduce it.

[2017-08-16 08:24] soundstep commented on #42
You're right, I cannot reproduce it this morning, I must have done some wrong.

I'm re-testing on the original box and I see logs like this:

[code]

[code]

[2017-08-16 09:06] mboudreau commented on #42
Yeah, that happens when none of the optional dependencies has been
installed.  We have a postinstall script to make sure that the optional
dependency has been downloaded.  Could you run `npm install -ddd` to see
all logs of what's going on behind the scenes?

On Wed, Aug 16, 2017 at 6:24 PM Romuald Quantin <notifications@github.com>
wrote:

[2017-08-16 09:16] soundstep commented on #42
The problem is, it is not all time, so it is kind of hard to reproduce.

I was always wondering why it says ` pact-mock-service@2.1.0/9511 on 10ft-infradev-aeuw1-jenkins-0cb3d3354739239a8: Platform specific dependency '@pact-foundation/pact-mock-service-darwin' installed successful` on a linux system.

Silly question but... could this be related to network problem somehow?

When I see:

[code]

Co

[2017-08-16 10:21] mboudreau commented on #42
yeah, I did see that today as well.  I'm not too sure what's going on
because when I actually look at the folders, there's nothing there for
'darwin' only 'linux-x64', however, this chat has sparked an idea in my
head that I'll have to check out tomorrow morning.

On Wed, Aug 16, 2017 at 7:16 PM Romuald Quantin <notifications@github.com>
wrote:

[2017-08-16 10:24] mefellows commented on #42
I suppose it could be @soundstep . I've just spun up a clean centos ec2 64 bit instance with your steps:

[code]

Worked a charm.

I'm wondering if as you say, it could be network related or something else. Are you running this inside of a corporate proxy or something similar? It might be worth attempting an install of a different version of pact-node to  work around any potential caching, or even

[2017-08-16 10:55] soundstep commented on #42
Right interesting @mefellows !
I'm trying to gather a bit more logs.

Do you guys mind check that one: https://gist.github.com/soundstep/68e47a96f784abb08104aacba4d32089

It looks like it has installed the pact=mock-service for darwin, while this is happening on the Centos 7 machine.

Am I reading the logs wrong?

[2017-08-16 11:19] mboudreau commented on #42
@soundstep no, you're definitely on the right track, those logs are saying that it is downloading the darwin version, which is weird.  I'll investigate further, but I'm not sure why you're seeing it consistently while I can run pact without a hitch on the latest centos7.

[2017-08-16 11:25] soundstep commented on #42
Actually, it is not consistently, it is like 50/50. Sometimes it works, sometimes it doesn't.
I think I've noticed that starting from a clean workspace (no node_modules folder), it will always fail. Then re-running a job on the same workspace (with a previous node_modules), it sometimes work.

[2017-08-16 11:27] soundstep commented on #42
Note that we are also using a private npm registry on artifactory, I hope it has nothing to do with that and some sort of caching. Actually, I can use the normal npm registry on this project, I will disable it just to make sure!

[2017-08-16 11:44] mboudreau commented on #42
@soundstep hm, artifactory caching might be the cause.  Kinda hard to reproduce on my end ;)

[2017-08-16 11:47] soundstep commented on #42
@mboudreau nevermind, it is not used on this project. I'll double check the npmrc file is correct, just to make sure.

[2017-08-17 09:21] soundstep commented on #42
I think I finally understood what's happening: the package-lock.json file!

We are developing on MacOS computer, and sadly, pushing the package-lock.json file to our repo.
This makes NPM install the darwin version of the pact-mock-service on the linux machine, as it has been stored in the lock file.

Here is what show in the package-lock:

[code]

So there is no bug in pact-node, which is great ne

[2017-08-17 11:26] mboudreau commented on #42
@soundstep No way! Of course I forgot about that since it's a new thing for npm 5. I definitely recommend you add the package.lock file to your .gitignore and delete it from the repo as not only is this going to cause issues with your build server, but any person trying to develop on your project that's not on a mac.

Thanks for bearing with us and giving us an abundant amount of info to help us d

[2017-08-17 11:37] mefellows commented on #42
Great spot!!

Hmm this is another pain point. It's good practice to check in the
package-lock.json so recommending against this approach is not something
I'm a fan of. IMO we should consider removing the optional dependencies.

I'd rather see us pull down the correct binaries to install during the post
install phase instead.

We could then also get rid of the other packages (mock service and
verif

[2017-08-17 11:41] mboudreau commented on #42
The only other possibility is to load all OS specific dependencies, which
is then required based on the runtime, but this makes the install process
heavy since we're now installing all binaries.  Postinstall process won't
work since it isn't triggered on npm update, which can cause some
versioning issues.

On Thu, Aug 17, 2017 at 9:38 PM Matt Fellows <notifications@github.com>
wrote:

[2017-08-17 12:03] soundstep commented on #42
What I would recommend is that you install/download/build the os specific stuff during an `npm rebuild`, which happen during an `npm install` (npm build).

https://docs.npmjs.com/cli/rebuild

That's what lib-sass is doing for example. if you switch machine or node version, they log a message like "Please execute `npm rebuild lib-sass`".

Another example, it is considered a good practice when build

[2017-08-17 12:10] mboudreau commented on #42
Good points, I'll have to look into that.

On Thu, Aug 17, 2017 at 10:04 PM Romuald Quantin <notifications@github.com>
wrote:

[2017-08-17 12:12] soundstep commented on #42
We heavily use pact in production, so I'll definitely be there if we find issues ;)
We fixed a few in the ruby pact-mock-service, we also made https://github.com/ITV/scala-pact

[2017-08-18 08:02] mefellows commented on #42
@soundstep I was on a mobile before, but I was essentially trying to say the same thing. We don't actually go through the same compile as saas does however (which does a native compile with `node-gyp`), but it is analogous.

I think it's acceptable to force an npm reinstall for this if an update is required. If [angular cli](https://github.com/angular/angular-cli#updating-angular-cli) can get away

[2017-08-18 08:02] mefellows commented on #42
Also, we love the work you guys (including Dave) have done at ITV!

[2017-08-18 09:20] soundstep commented on #42
@mefellows I don't think having to re-do an `npm install` is the solution, that's why I specifically gave you the other example with the node micro-service bundle in an RPM. They are supposed to be ready-to-use and self-contained.

You would never do an npm install in a production environment, that's not how softwares should be deployed, especially not relying on network or npm registry. Ideally,

[2017-08-18 09:40] mefellows commented on #42
Agree with all of those points. Provided the install hooks fire as it says
on the label this should be easy, there should be no problem..

We just need to try it out and test it is all I'm saying.

On Aug 18, 2017 7:20 PM, "Romuald Quantin" <notifications@github.com> wrote:

@mefellows <https://github.com/mefellows> I don't think having to re-do an npm
install is the solution, that's why I specifi

[2017-08-18 09:46] soundstep commented on #42
@mefellows Yep, just checked it, the preinstall script is executed on `npm rebuild`, thus `npm intall`.
You should all fine with that!
Cheers.

[2017-08-18 10:02] mefellows commented on #42
Great! One thing to note is that we will require network access in this
phase to pull down the OS specific bundle.

But whichever way you look at it, it's better than the current situation.

On Aug 18, 2017 7:46 PM, "Romuald Quantin" <notifications@github.com> wrote:

@mefellows <https://github.com/mefellows> Yep, just checked it, the
preinstall script is executed on npm rebuild, thus npm intall.

[2017-08-18 10:13] soundstep commented on #42
Yeah good point. Can't really help with that I guess.
And I guess the pact-mock-service are big enough so that you can't include them all?

[2017-08-18 10:27] mefellows commented on #42
Exactly. Longer term we will probably be able to compile in this step
though.

On Aug 18, 2017 8:13 PM, "Romuald Quantin" <notifications@github.com> wrote:

Yeah good point. Can't really help with that I guess.
And I guess the pact-mock-service are big enough so that you can't include
them all?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<h

[2017-08-22 16:56] travi commented on #42
finally got one of my projects that uses pact-node upgraded to node 8 and ran into this problem. i do not agree with the recommendation to ignore the lockfile since the whole point of the lockfile is to keep package versions consistent across machines.

i tried to run the `npm rebuild` on travis, but (i assume) since i was still versioning the lockfile, i got
[code]

i was able to get the travis b

[2017-08-22 22:10] mefellows commented on #42
Thanks @travi, there's a bit of work for us to get to our optimal solution, and your workaround seems appropriate for now. I'm watching both of those issues to see if our recommendation changes, but in any case I feel the optional dependencies approach needs to be revised.

[2017-08-29 07:23] TimothyJones commented on #42
I'm also hitting this problem with a dockerised build. I'll try @travi's workaround.

[2017-08-29 08:19] mefellows commented on #42
Thanks Tim - we're working on it, we promise!

[2017-09-03 04:46] mefellows commented on #42
FYI see https://github.com/pact-foundation/pact-js/issues/91 (on our [project board](https://github.com/pact-foundation/pact-js/projects/2) for a proposal with options related to this issue and beyond. Thoughts welcome!

[2017-10-02 19:03] bbarke opened #47 "Can't install latests pact-node"
I get the following error when trying to install the latests pact version (5.0.0)

[code]

[2017-10-02 23:01] mboudreau commented on #47
@bbarke very sorry about that.  Will fix that ASAP.

[2017-10-03 00:06] mboudreau commented on #47
@bbarke Damn, seems like npm is ignore *.js files because of what's been added in .gitignore, and since we don't have a .npmignore file, it uses the git one by default.  Changing that now.

Build is going out as we speak: https://travis-ci.org/pact-foundation/pact-node

[2017-10-03 00:09] mboudreau commented on #47
@bbarke I've confirmed that this is now working with version 5.0.1.  Cheers.

[2017-10-03 00:09] #47 closed

[2017-10-03 21:58] bbarke commented on #47
Thanks!

[2017-10-03 23:39] mboudreau commented on #47
@bbarke Have you got it working alright?  v5 is a fairly major rewrite.

[2017-10-03 23:40] mboudreau commented on #37
This has been fixed when converting to Typescript.

[2017-10-03 23:40] #37 closed

[2017-10-04 02:26] mboudreau commented on #39
RELEASING.md file added, pact-node dependencies in dependency graph updated.

[2017-10-04 02:26] #39 closed

[2017-10-04 04:01] mboudreau commented on #33
@mefellows I'm looking into this one and thinking of adding something in the pact-util file that checks for paths/urls and then normalizes/resolves them if they're valid.

Currently though, we're a bit "laissez-faire" with the path validation as we do some minute checks on it, but nothing too concrete.  I do agree that we need to have the ability to check relative vs absolute paths, however, shoul

[2017-10-04 04:02] mboudreau commented on #38
@mefellows is this still an issue and shouldn't this be lodged with pact-jvm than with pact-node?

[2017-10-04 04:51] mboudreau commented on #42
@mefellows @travi @soundstep

After some though, the rebuild option simply will not work for our purpose as we need npm's internals to install our binary and packages properly using npm link and should be resolvable using require.resolve.  If we are to use npm rebuild, many of these things won't happen.  Package structures can get screwy between npm versions, hence the need for require.resolve.  I

[2017-10-04 11:41] mefellows commented on #38
Looking through the threads, looks like we need to move to `pactSpecification.version` as per https://github.com/pact-foundation/pact-mock_service/commit/5b89d95167013ac4b11030b362c439f5632e7540

[2017-10-04 14:45] travi commented on #42
@mboudreau i agree 100%. i think you had the dependencies configured correctly from the start here, but are facing what i consider a clear npm bug. i'm really surprised that npm/npm#18135 doesnt seem to have much priority behind it yet.

[2017-10-05 00:38] mboudreau commented on #42
@travi yeah, sadly.  I might have to use my recommendation at the end up loading all binaries and doing runtime check as to while one to grab :/

@mefellows Thoughts on this?

[2017-10-07 20:07] thombergs opened #48 "Mock Server not Starting"
I'm currently trying to set up pact with an Angular application and Karma. When running the karma test in which the pact is generated, I always get the error "process not found":

[code]

After some digging, I realized this is just a subsequent error to the mock server not starting. With LOGLEVEL set to DEBUG, I get the following log output before the above:

[code]

So, there are two issues here:

[2017-10-08 10:11] mboudreau commented on #48
Thanks for letting us know. I'll take a look at this tomorrow. Cheers.

On Sun., 8 Oct. 2017, 7:07 am Tom Hombergs, <notifications@github.com>
wrote:

[2017-10-08 10:14] mefellows commented on #48
Could you please let us know the version of `pact`, `pact-node` and `karma-pact` that you're using? This will help us debug it.

I suspect it is a Windows-only bug, but a recent change should have addressed it (or perhaps only a subclass of the problem).

[2017-10-08 14:23] thombergs commented on #48
Sure. The complete dependencies can be found in my [package-lock.json](https://github.com/thombergs/pact-node-test/blob/master/package-lock.json). But here are the pact dependencies:

[code]

karma-pact can't be responsible, since my [minimal example](https://github.com/thombergs/pact-node-test) only works with pact-node.

And yes, I run it on Windows :)

[2017-10-10 08:47] mefellows commented on #33
I don't see why other protocols could not be supported in the long term, i'm not sure what is currently supported beyond `file://` and `http://`.

However I think we don't allow unix/bash/whatever-specific shortcuts like `~`. I can't think of a situation where it's going to be terrible, but I can see implementation complexity with little value.

WRT other protocols, all that we need is the URL to

[2017-10-10 10:09] bethesque commented on #33
Why not just pass the paths in? The verifier should show an appropriate message. If it doesn't, let's change it to do it. No point duplicating code. The verifier can handle relative paths too, what's the problem you've found?

[2017-10-10 10:13] bethesque commented on #33
The paths need to be relative to the directory you run the executable from - that might have been the issue. So you need to invoke the verifier using the relative path from the project root if possible.

Btw, there's an issue to change the paths from options to space separated arguments, so we don't have to do the comma separating thing.

[2017-10-10 21:19] mefellows commented on #48
Of course, sorry that was a silly question!

Are you able to test out the latest pact-node (`~5.1.0`) to see if this sorts out your issue? We added a fix in the latest upgrade that should have addressed this problem.

[2017-10-11 18:42] thombergs commented on #48
When running `npm install` I now get the following:

[code]

[2017-10-11 21:08] mboudreau commented on #48
Do you have a package-lock.json file?

On Thu., 12 Oct. 2017, 5:42 am Tom Hombergs, <notifications@github.com>
wrote:

[2017-10-11 22:59] mefellows commented on #48
He does, it's in the example.

I think it's perhaps an issue with the standalone module. We need to re-instate the Appveyor builds for Windows, else subtle changes will introduce annoying regressions.

[2017-10-11 23:03] mefellows commented on #48
FWIW that minimal example works totally fine for me (`Darwin localhost 15.6.0 Darwin Kernel Version 15.6.0: Thu Jun 23 18:25:34 PDT 2016; root:xnu-3248.60.10~1/RELEASE_X86_64 x86_64`).

I did have to remove the `package-lock.json` as it contained a dependency to the windows standalone optional dependency.

We should consider updating our documentation to state that the current recommendation is to

[2017-10-11 23:08] mboudreau commented on #48
@mefellows yeah, could definitely do that.  I've been meaning of solving this by just including all binaries in the pact-standalone because NPM seems to be sitting on their hands with this major bug they introduced.

[2017-10-11 23:12] mboudreau commented on #48
@thombergs can you check to see if `node_modules/@pact-foundation/pact-standalone-win32` is there?  If not, try deleting `node_modules` and redo `npm install -ddd` to show a silly amount of logs.  Please post that log here so we can decipher where in the process it's failing.  Thanks.

[2017-10-12 04:45] thombergs commented on #48
`pact-standalone-win32` was missing, as were all `@pact-foundation` dependencies. Probably it didn't get so far to download them.

The log is attached.
[2017-10-12T04_37_46_494Z-debug.log](https://github.com/pact-foundation/pact-node/files/1378074/2017-10-12T04_37_46_494Z-debug.log)

When I remove `package-lock.json` and run `npm install` a second time, the folder `pact-standalone` exists but not

[2017-10-12 10:37] mefellows commented on #48
Thanks @thombergs.

FWIW I'm having issues locally upgrading `pact` to the latest `5.x.x` branch, very much related to the standalone package (I also can't seem to call `publishPacts`). So there might be multiple things going on here.

[2017-10-12 21:41] mboudreau commented on #48
@mefellows only on windows?

On Thu., 12 Oct. 2017, 9:37 pm Matt Fellows, <notifications@github.com>
wrote:

[2017-10-12 21:44] mefellows commented on #48
Nope, that was on a Mac. I suspect it was fixed by 183f052007c834b7282135a53f917881ded7efd1 but haven't yet re-tested this (I was looking at a `karma-pact` thingo yesterday when encountering this).

[2017-10-12 23:09] mboudreau commented on #48
@thombergs I'm looking at the logs and it doesn't seem to even try to download the optional dependencies.  Can you please try again with the same step but without the package-lock.json file?

This is particularly concerning, so I'm looking into it.

[2017-10-12 23:19] mboudreau commented on #48
@mefellows Can you make sure that the standalone is working correctly?  I'm annoyed with npm optional dependency BS that they're pulling.  I think I'll try packaging all binaries together without restrictions and let node figure it out at runtime which one to use.

[2017-10-13 00:45] mboudreau commented on #48
@mefellows I've found several things wrong with pact-standalone.  I think a lot of these bugs seems to have been when I updated pact-node to 5.1.0.  I'm fixing them right now, should be out shortly.

[2017-10-13 04:33] mefellows commented on #48
Yep, looks like some setup issues in `pact-node` and `pact-standalone` that combined with the annoying NPM issue is resulting in this madness.

Thanks for sorting it out.

[2017-10-14 02:08] mboudreau commented on #48
@mefellows pact standalone packaging issues are now fixed; all binaries are now in the single package and added some tests to make sure we never screw those up again. I'll need to deprecate the old OS specific packages. New version of pact-node released to include these changes.

 @thombergs could you please try it with pact-node 5.1.2 and let us know how you go?  Thanks.

[2017-10-14 02:12] mboudreau commented on #42
@travi @soundstep @mefellows Good news everyone.

Pact standalone now packages all binaries in a single dependency that's not OS specific anymore.  This shitty issue with npm optional dependencies and package-lock.json should now be fixed for pact-node in version 5.1.2.  Please try it out and report back to see if it works for your situation.

Very sorry about this whole ordeal.  Cheers.

[2017-10-14 03:22] mboudreau commented on #48
@thombergs I've also updated karma-pact to use the latest version of pact node, version is 2.1.0.  Cheers.

[2017-10-14 19:06] thombergs commented on #48
I got it to work with the new version, and even through karma-pact now. Thanks a lot for your efforts.

[2017-10-15 00:07] mboudreau commented on #48
@thombergs that's amazing. Thanks for confirming. I'll close this ticket for now, please let us know if anything else comes up

[2017-10-15 00:07] #48 closed

[2017-10-15 10:15] mefellows commented on #42
Thanks so much @mboudreau for all your work on a _bunch_ of stuff this past few days - I encourage anyone to look at the commit history to see this dedication.

[2017-10-15 10:16] mefellows commented on #48
Thanks so much @mboudreau for all your work on a _bunch_ of stuff this past few days - I encourage anyone to look at the commit history to see this dedication.

[2017-10-17 10:46] mefellows opened #49 "Update to ruby-standalone 1.8.0 and delegate publishPacts to new pact-publish executable"
@bethesque commented on [Sat Sep 30 2017](https://github.com/pact-foundation/pact-js/issues/102)

The pact-publish command merges pact files for the same consumer/provider (that have been created by running in specs in parallel) before publishing them to the broker.

[code]

---

@mefellows commented on [Mon Oct 16 2017](https://github.com/pact-foundation/pact-js/issues/102#issuecomment-336862812)

[2017-10-17 10:51] mefellows opened #50 "Update to ruby-standalone 1.8.0 and move pact details from the POST /pact call to the command line"
@bethesque commented on [Wed Oct 04 2017](https://github.com/pact-foundation/pact-js/issues/105)

Instead of posting the consumer name, provider name, and pact file write mode in the POST /pact call here https://github.com/pact-foundation/pact-js/blob/master/src/dsl/mockService.js#L75, they should now be passed in to the command line `service` call using `--consumer`, `--provider` and `--pact-file

[2017-10-17 10:55] mefellows commented on #33
Yeah from memory that was the problem, but I'm sure we can find a way to resolve it.

[2017-10-18 00:32] mboudreau commented on #42
I'm going to close this ticket as I haven't heard back from anyone, but this should be fixed by now.  If someone doesn't agree, I'll reopen.

[2017-10-18 00:32] #42 closed

[2017-10-18 01:15] TimothyJones commented on #42
@mefellows is publishing a new version of `pact-js` that uses this version - I'll test it for our case and confirm that our workaround isn't necessary any more.

[2017-10-18 04:11] mefellows commented on #42
FYI pact `4.0.x` was released today, please let us know how you go!

[2017-10-18 07:34] soundstep commented on #42
Sorry @mboudreau and @mefellows, I was silent because I didn't have a chance to test!
But thanks everyone for the hard work!

[2017-10-18 07:36] mefellows commented on #42
No worries @soundstep, whenever you get the chance mate.

[2017-10-19 00:03] mboudreau commented on #49
@bethesque @mefellows I cannot move forward with this as the pact-publish ruby exec doesn't seem to follow authentication rules.  It never passes the basic auth credentials with the request, hence it's failing the tests we already had in place for pact publish.

Please fix this issue and re-release the standalone so this can be done.  Thanks.

[2017-10-19 02:23] bethesque commented on #49
I bumped into this yesterday too. I've just released 1.10.0 with the fix.

[2017-10-19 02:26] bethesque commented on #49
Please use the long versions of the option names, as I did a naughty breaking change and made the username flag -u instead of -n (long story - I'd been trying to keep it consistent with the pact-verifier shortened names, which used -n, but changed my mind now the -u option for the pact-verifier is removed now anyway)

[2017-10-19 02:32] mboudreau commented on #49
We've always used the long names. Thanks for fixing this so quickly. Cheers.

On Thu., 19 Oct. 2017, 1:26 pm Beth Skurrie, <notifications@github.com>
wrote:

[2017-10-19 05:34] mboudreau commented on #49
@bethesque just deployed the latest standalone, however, I'm still seeing an issue with pact-publish.  This time it's about the exit code being sent back.  When it fails to publish, it just returns a 0 exit code, which means it should have succeeded, but it actually did fail.  Could you please return an exit code of 1 on failure?

[2017-10-19 08:34] bethesque commented on #49
It should be returning a 1 exit code, because there is this:

[code]

Let me investigate why it isn't.

[2017-10-19 09:39] bethesque commented on #49
Sneaky bugger of a Thor class needed a flag to tell it to exit(1) on error. That'll teach me to make assumptions!

I've released v 1.11.0 standalone with the fix, and I've made a small change to the way the command is invoked. Since I wrote that command, I've realised there is going to be a suite of pact-broker CLI commands (`can-i-deploy`, `what-can-i-deploy`, `tag-version`...) so I've moved `pac

[2017-10-20 06:35] mboudreau commented on #49
@bethesque just tried the latest standalone, the binaries work, however, it wasn't returning the URLs of the contracts being sent because I might of had the mocks wrong.  So I'm looking for the correct response from the pact-broker when a contract is sent to be saved using the publish binary, so that it can tell the user the url to the contracts.

Anywho, I figured I would use the docker pact-brok

[2017-10-20 08:55] bethesque commented on #49
I can't tell what's gone wrong in the broker from that message. Can need to check docker logs.

Have a look at the RELEASING.md file and you'll see how to run it without docker compose. I know this works because I run it every time I do a release. TBH, I never run the docker compose, so I'm not even sure if it's configured correctly.

Or you can publish to the test broker at https://test.pact.dius

[2017-10-20 08:57] bethesque commented on #49
Oh, and I'll be on holidays next week. No internet apart from phones.

[2017-11-05 21:46] mefellows opened #52 "Typescript declarations not found"
When trying to upgrade `pact-node` in the `pact` module and removing the custom typings I had results in the following issue (truncated for readability):

[code]

I'm running the latest TypeScript (v2.6.1 at this time). Even though the advice from https://www.typescriptlang.org/docs/handbook/declaration-files/publishing.html says:

Manually adding `"types": "./src/index.d.ts",` to `package.json` s

[2017-11-06 01:36] mboudreau commented on #52
@mefellows ah yeah, it needs to be in the root.  I believe the index.js used to be at the root level, but I moved it and it must have broken the typings.  Cheers for the fix.

[2017-11-06 01:36] #52 closed

[2017-11-06 12:44] mboudreau commented on #49
@bethesque I got the publish working, but the `--output json` causes the ruby binary to crash with:

[code]

[2017-11-06 20:23] bethesque commented on #49
There's no output json for the publish. I can add it, if you'll tell me what you want to put in it.

[2017-11-06 20:24] bethesque commented on #49
Why not just output the message from the command itself?

[2017-11-07 00:35] mboudreau commented on #49
I'm trying to get the pact broker urls of the published contracts. I ended
up just reading the output and using regex to get them, which is fine.

On Tue., 7 Nov. 2017, 7:24 am Beth Skurrie, <notifications@github.com>
wrote:

[2017-11-07 00:38] bethesque commented on #49
Why don't you just display the output of the command? If there are errors, it will contain important information.

[2017-11-07 00:52] mboudreau commented on #49
I am outputting it, but it's not very convenient if a developer wants to
use the URL somewhere else for another purpose and they have to parse the
console output to get it.

On Tue, Nov 7, 2017 at 11:38 AM Beth Skurrie <notifications@github.com>
wrote:

[2017-11-07 01:18] bethesque commented on #49
Ah, so you want to yield the URLs to a callback when the publish is invoked? What JSON structure would be useful?

[2017-11-07 02:08] mboudreau commented on #49
Again, don't worry about it for now, already got it working, just need to
figure out all the tests for the broker mock.

On Tue., 7 Nov. 2017, 12:18 pm Beth Skurrie, <notifications@github.com>
wrote:

[2017-11-07 02:36] bethesque commented on #49
Dude, we need a contract :P I can't guarantee that output won't change.

[2017-11-07 02:52] mboudreau commented on #49
Yes, we do. It would be a great way to validate moving forward, but right
now, I'm just trying to get this over the line with tests that work since
I've been trying to get the new publish binary working with pact node for a
couple weeks, and have more important things to work on, like the website.

I'd love to get to a point where we use our own tech to validate our own
work, which would be great

[2017-11-07 04:34] mefellows opened #54 "Please add --monkeypatch option to pact mock service start up command and pact-provider-verifier command"
@bethesque commented on [Tue Nov 07 2017](https://github.com/pact-foundation/pact-js/issues/123)

Requires standalone version pact-1.19.0.

This is to support: https://github.com/pact-foundation/pact-mock_service/issues/78 and another issue that I can't currently find.

The feature that the user is requesting is not something that should be changed for all users, as it is a non-standard behaviour,

[2017-11-07 08:00] mefellows opened #55 "Improve compiler validations to support use as library"
As `pact-node` is a library (in addition to a tool) and will be embedded in potentially many others, we have a duty to ensure the highest levels of TS language use.

An annoying restriction of TS is that it will compile, and therefore complain, about upstream dependencies.

e.g. for `pact-js` even with exclusions set as follows:

[code]

TS still picts up `pact-node`, as it is in compilation scope

[2017-11-07 12:30] oliver-gramberg commented on #54
These are probably the other issues:
https://github.com/pact-foundation/pact-js/issues/14
https://github.com/pact-foundation/pact-node/issues/24

[2017-11-07 21:03] mefellows opened #56 "Connection Refused error when attempting to `createServer`"
Since upgrading to `5.2.x` I'm getting the following error when trying to run `createServer`.

[code]

The issue seemingly can be traced back to the following [line](src/server.ts:327:121) related to waiting for the server to start:

[code]

In the rejection path, `err` may be `null` (in this case it is) and that crashes the entire promise chain, bailing out of any retry logic and recovering when

[2017-11-07 22:20] mefellows commented on #56
Confirming that running the following (converted from TS -> JS) results in an issue:

[code]

Output:

[code]

Here's my dependency tree:

[code]

[2017-11-08 01:32] #56 closed

[2017-11-08 17:37] bbarke commented on #42
I ran into this same issue - using 4.12.
I upgraded to 5.2.0 and the issue was resolved.
Thankyou

[2017-11-09 03:17] TimothyJones commented on #42
Which reminds me - we tested this, and it works perfectly. Thanks, sorry for forgetting to update!

[2017-11-09 07:30] mefellows commented on #55
Hmm, the statement:

doesn't appear to be true. Clean install on a new machine and these problems disappear. Let's keep as marked for enhancement (as there is probably some examples of stronger typing that would be useful) but it won't be a priority for me wrt the `pact-js` TS uplift.

[2017-11-09 18:38] bbarke opened #59 "Change log"
By any chance is there a change log showing what has been committed/what has been resolved in the different versions?

[2017-11-09 18:47] bbarke commented on #59
I could stop being lazy too and look at the commit history...

[2017-11-09 20:21] mefellows commented on #59
@mboudreau would you be open to exploring the use of conventional changelog for `pact-node`? We could then steal the release process from `pact` which automates the generation of all of this, including version bumping etc.

[2017-11-09 23:26] mboudreau commented on #59
Yeah, that sounds like an idea.  Would be good to track this in a better
fashion.

On Fri, Nov 10, 2017 at 7:21 AM Matt Fellows <notifications@github.com>
wrote:

[2017-11-15 06:07] mboudreau commented on #54
Ick, this smells so bad...

[2017-11-15 06:11] bethesque commented on #54
Yeah. But please do it anyway ;)

[2017-11-19 00:14] mefellows opened #61 "Proposal: use user-configured self-signed certs in Mock Service health check"
Found https://github.com/pact-foundation/pact-node/blob/866d73eb92ca64346163389f9ac72d7e3827aec6/src/server.ts#L262-L266 as part of #58. I assume it's been around a while, so it wasn't appropriate to add as part of that review.

I'm not sure setting this without a users' explicit permission is ever a good idea.

If people are running self-signed certificates they should either a) provide them (in

[2017-11-19 03:26] mefellows commented on #55
OK my original post was good see https://travis-ci.org/pact-foundation/pact-js/jobs/299502135#L1848 for example.

[2017-12-03 02:27] #55 closed

[2017-12-03 02:54] mefellows commented on #59
FYI I have just added [conventional change log support](https://github.com/bcoe/conventional-changelog-standard/blob/master/convention.md) to our release process.

Have updated RELEASING.md and CHANGELOG.md to reflect this. Closing.

[2017-12-03 02:54] #59 closed

[2017-12-04 14:55] ewortzman opened #63 "verifyProvider is adding a `Host` header of `example.org` when running a contract"
When `verifyProvider` is run with a contract, a header of `"Host":"example.org"` is being added to the request that gets sent to the provider.  One of my services is failing its contract because of this, as it can't handle the header.

For example, when I run this contract:

[code]

The actual request that gets sent has these headers:

[code]

[2017-12-04 15:15] mefellows commented on #63
Can you please share your JS code? This doesn't sound right, it should pass through the hostname that is specified in `providerBaseUrl`.

[2017-12-04 15:41] ewortzman commented on #63
[code]

That log statement shows that `process.env.BASE_PATH` is set to "http://localhoist:8081"

[2017-12-04 15:43] ewortzman commented on #63
[code]

The log statement, and the fact that my server is receiving the requests, show that `process.env.BASE_PATH` is properly set.

[2017-12-05 04:22] mefellows opened #64 "Shouldn't need to URL encode name of provider in verification settings"
@bethesque commented on [Mon Aug 07 2017](https://github.com/pact-foundation/pact-js/issues/81)

In the documentation for the js workshop, the provider name needed to be URL encoded. I think this should be handled by the publish code, not by the user.

https://github.com/DiUS/pact-workshop-js/#step-13---using-a-pact-broker
[code]

---

@mefellows commented on [Sat Aug 19 2017](https://github.com/p

[2017-12-05 04:32] mefellows commented on #64
I've just reviewed this and it's not actually necessary. Although the README has the escaping, it's actually not in the code, and the code works just fine.

I've updated that README to correct this.

Closing.

[2017-12-05 04:32] #64 closed

[2017-12-05 20:58] lirantal commented on #63
The Host header is defined in the RFC: https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html

[2017-12-05 21:09] mefellows commented on #63
I'm guessing the problem is that the header is `example.org` instead of something else?

@ewortzman what is the value of process.env.BASE_PATH though?

[2017-12-05 21:17] mefellows commented on #63
If possible, could you please provide us with a reproducible example? e.g. modify the example at https://github.com/pact-foundation/pact-js/tree/master/examples/e2e.

The relevant bit is here:

[code]

[2017-12-05 21:21] ewortzman commented on #63
`process.env.BASE_PATH` is the url of my running service. In this case, it, coincidentally, `http://localhost:8081`.  But I've run the verifier with different base urls and I always get the `example.org` header.

And yes, I believe the problem is that the Host header should contain the url of the request's destination (i.e. the `providerBaseUrl`) but it actually contains `example.org`.

[2017-12-05 22:19] ewortzman commented on #63
running the example in the provided vagrant box give me the same issue. Using `tcpdump`, I can see that the first `GET /animals/available` request contains the `Host: example.org` header.

[2017-12-09 22:48] mefellows commented on #49
Is this done now? I can see that we spawn the binary for this publish instead of the previous API calls.

[2017-12-09 23:06] mboudreau commented on #49
I believe so.

On Sun., 10 Dec. 2017, 9:48 am Matt Fellows, <notifications@github.com>
wrote:

[2017-12-09 23:45] mefellows commented on #49
Awesome, closing this then.

[2017-12-09 23:45] #49 closed

[2017-12-10 02:26] mefellows commented on #50
Pull request for this. See #66.

[2017-12-10 02:39] #50 closed

[2017-12-12 21:12] mefellows commented on #63
@mboudreau could you please cast your eyes over this too? I'm not seeing this header, but perhaps it's my setup interfering with it. Would be good to see if you can repro it.

[2017-12-12 23:36] mboudreau commented on #63
@ewortzman Could you please paste your package.json dependency versions?  If you can give us a code dump of your example not working, that would be greatly appreciated to help debug this further.

If there is an issue somewhere, it would be with our Ruby standalone.  I'll go digging through that code to see if anything comes up.

[2017-12-13 00:00] mboudreau commented on #63
Also, I've looked through our [whole organization for any reference for example.org](https://github.com/search?utf8=%E2%9C%93&q=org%3Apact-foundation+%22example.org%22&type=Code).  There are many, but all around tests and examples, but in the end code itself.

Not to sound skeptical, but I would imagine if this was an issue, it would have affected more people by now.  I'm guessing there is somethi

[2017-12-14 18:18] ewortzman commented on #63
I'm trying to replicate it on a different machine, and you're right. I can't.  Must be something with my setup.  I'll close this issue.

[2017-12-14 18:18] #63 closed

[2017-12-15 00:11] mboudreau commented on #63
I'm still curious about what happened to cause this, so if you discover it,
please let us know.  Cheers :)

On Fri, Dec 15, 2017 at 5:18 AM ewortzman <notifications@github.com> wrote:

[2018-01-06 11:33] zsims opened #69 "TypeScript compilation fails due to missing type definitions"
This is a carry on from pact-foundation/pact-js#142

## Software versions

* **OS**: Ubuntu 16.04.3 LTS
* **Consumer Pact library**: PactJS 5.3.1
* **Node Version**: v6.9.1

## Expected behaviour
When using pact-js as a `devDependency`, pact-js can be compiled by TypeScript successfully without requiring additional definitions (e.g. adding `@types/bunyan` as an explicit dependency).

## Actual beh

[2018-01-07 06:45] zsims commented on #69
So the reproduction still fails due to `tsc` picking up the source from the package (instead of just the definitions). Per Microsoft/TypeScript#7432 a recommended way to avoid this is to stop publishing the sources. I'll raise a PR.

[2018-01-10 00:57] mboudreau commented on #69
@zsims has this been fixed with 6.7.3?

[2018-01-10 01:16] zsims commented on #69
@mboudreau Sorry, had reverted to using it without types. I'll update and confirm within the next day.

[2018-01-10 09:11] zsims commented on #69
@mboudreau Can confirm this package works fine under TypeScript. But, a new release is needed for `pact-foundation/pact-js` due to the fixes that recently landed regarding `es6-promise`.

I can confirm that master of this repo and master of `pact-foundation/pact-js` work well from TypeScript 😄

[2018-01-11 21:36] mefellows commented on #69
Running a release for this now @zsims. `v5.3.2` should be out in the next hour or so.

[2018-01-20 10:00] zsims commented on #69
@mefellows sorry for the delay, I can confirm v5.3.2 works a treat. This issue can probably be closed now.

[2018-01-20 10:57] #69 closed

[2018-02-01 05:03] yusefnapora opened #72 "'caporal' dependency not found at runtime when running the cli"
When installing pact via `yarn add --dev @pact-foundation/pact-node`, trying to run the cli from `./node_modules/.bin` produces the following error:

[code]

This seems to be because the `caporal` module is listed in `devDependencies` in package.json.  Since it's required at runtime, it seems like this should be moved to the `dependencies` section.

[2018-02-01 05:27] mboudreau commented on #72
Crap, yes, you're right, let me fix that right now.

[2018-02-01 08:35] mboudreau commented on #72
Fixed in release 6.7.4. Cheers.

[2018-02-01 08:35] #72 closed

[2018-02-08 08:56] softengi opened #73 "Is there a version that can be used with AngularJS 1.X?"
Hi,

Is there a version of pact-node that can be used with AngularJS version 1.6?

Thanks in advance.

[2018-02-08 10:19] mefellows commented on #73
Hi @softengi, what is your use case and what is the problem you are having? have you looked at https://github.com/pact-foundation/pact-js/?

[2018-02-25 21:27] mefellows commented on #73
@softengi I'm going to close this. If you have more detail on your issue we can re-open and discuss. For now, as I know of no reason as to why Pact couldn't be compatible with Angular 1.6 I'm going to close this.

[2018-02-25 21:27] #73 closed

[2018-02-27 09:07] mbark opened #74 "Cannot find module './build/Release/DTraceProviderBindings' from 'dtrace-provider.js'"
Running `pact` in `jest` I get the error:
[code]

This seems to be the same problem as the one mentioned in [issue 63 for `pact-js`](https://github.com/pact-foundation/pact-js/issues/63), which according to @mefellows is an upstream problem with `pact-node`, therefore I'm raising the issue here.

The `node-bunyan` [issue mentioned](https://github.com/trentm/node-bunyan/issues/525) in the thread st

[2018-02-27 12:17] mefellows commented on #74
Thanks for looking into this, hopefully it's an easy one!

[2018-02-27 22:01] mboudreau commented on #74
yep, project is probably due to upgrade all dependencies anyways.  I'll take care of this.

[2018-02-28 02:52] mboudreau commented on #74
@mbark Version 6.10.1 going out as we speak that will fix this issue.

[2018-02-28 02:52] #74 closed

[2018-02-28 06:51] mbark commented on #74
Thanks for the fast response @mboudreau! Now `pact-js` just needs a patch with the updated `pact-node` version and we can close that issue as well 🎉

[2018-02-28 11:11] mboudreau commented on #54
This has been fixed in 6.11.0

[2018-02-28 11:11] #54 closed

[2018-03-01 09:51] thombergs opened #75 "Encoding Error when publishing pacts"
We currently face an encoding problem while publishing pacts to the pact broker from our npm build on a gitlab CI runner.

The same script works fine from our local windows machines and has worked fine on gitlab (unix), too, until we introduced the "€" symbol into the pacts.

This is the stacktrace:

[code]

Any ideas how we can address this issue?

[2018-03-01 13:41] mboudreau commented on #75
@bethesque any ideas?  Seems like it's the standalone.  Why is it using US-ASCII?  Figured everything would be in UTF8 no?

[2018-03-01 21:33] bethesque commented on #75
What version of everything are you using @thombergs? There was a problem with this that got fixed in a more recent version. Can you please reproduce with the pact-ruby-standalone-e2e-example project?

[2018-03-02 07:36] thombergs commented on #75
@bethesque I will try with the latest versions and if it still fails create a minimal example to reproduce.

[2018-03-08 00:03] mboudreau commented on #75
@thombergs any updates on this?

[2018-03-14 14:41] thombergs commented on #75
I finally took the time to create a minimal example. See https://github.com/thombergs/pact-test.

There's a single [pact file](https://github.com/thombergs/pact-test/blob/master/pacts/testconsumer-testprovider.json) with a single interaction, that contains a '€' symbol in the body.

When calling `npm publish:pacts` the file [`publish-pacts.js` ](https://github.com/thombergs/pact-test/blob/master/p

[2018-03-15 00:55] mboudreau commented on #75
amazing, thank you. I'll take a look at this and see what's going on.

[2018-03-15 21:01] bethesque commented on #75
It'll be a problem with the ruby code.

[2018-03-15 22:06] mboudreau commented on #75
That's what I thought, but I'm surprised it happens only on Linux?

On Fri., 16 Mar. 2018, 8:01 am Beth Skurrie, <notifications@github.com>
wrote:

[2018-03-15 23:25] bethesque commented on #75
Me too. The Travelling Ruby package is different for each of the operating systems however, so it may have to do with the linux one, or some environment variables on the linux one.

[2018-03-15 23:34] bethesque commented on #75
@thombergs could you try setting the environment variable `LANG="UTF-8"` as per the External encoding section in https://ruby-doc.org/core-2.2.0/Encoding.html ?

[2018-03-16 16:45] shiri134 opened #77 "Inconsistency in tagging pacts while publishing to broker"
We are trying to tag pact files, but the only first found pact file is tagged.
`import pact from '@pact-foundation/pact-node';`

`const opts = {`
  `pactFilesOrDirs: [${__dirname}/../../../pacts/*/],`
 ` pactBroker: brokerurl,`
  `pactBrokerUsername: brokerusername,`
`  pactBrokerPassword: brokerpassword,`
  `consumerVersion: '1.0.0',`
`  tags : ['prod', 'test']`
`};`

`pact.publishPacts(opts)`

[2018-03-16 22:51] mefellows commented on #77
How do you know only the first found pact file is found? Can you please describe what you are seeing in more detail? What pacts do you have in that folder?

If you download the `pact-broker` binary at https://github.com/pact-foundation/pact-ruby-standalone/releases and use it to publish, do you get the same result? If so, it may actually be operating correctly. It's the version resource that is ta

[2018-03-19 07:56] shiri134 commented on #77
We have multiple providers for single consumer, for that we are creating pact files as below to distinguish each other.
consumer1-navigation-service
consumer1-store-service,
consumer2-add-to-cart,
consumer2-recommendation-service
consumer3-recommendation-service
consumer3-srp-svc

When try to publish these, as pact-broker got consumer2 as first as below log shows,

![image](https://user-images.git

[2018-03-19 08:05] thombergs commented on #75
@bethesque doing an `export LANG="UTF-8"` before running the script doesn't change anything, sadly.

[2018-03-19 16:15] saschak094 opened #78 "Update error message for local files"
When adding local json files with the provider option pactFilesOrDirs, I receive an error:
[code]

Shouldn't the error message look like:
[code]

[2018-03-19 20:00] mefellows commented on #78
Is this for publishing pacts?

If you take a look at the [file](https://github.com/pact-foundation/pact-node/blob/master/src/publisher.ts#L86), `pactFilesOrDirs` is the correct argument.

Have you got an outdated version?

[2018-03-19 20:47] mefellows commented on #75
I'm just doing some refactoring in a pact go and came across a similar regression (on Linux) during provider verification. I'll get it into shape and share here. It once worked, I'm almost positive

[2018-03-19 21:31] mefellows commented on #75
OK, here's the [broken build](https://app.wercker.com/Pact-Foundation/pact-go/runs/build/5ab02b7cdfd4d2000178e67e?step=5ab02ba3715d150001ad9006) that fails provider verification with the following pact.

[code]

[2018-03-19 22:03] mefellows commented on #75
Interestingly, I can't reproduce that issue with my fork at https://github.com/mefellows/pact-ruby-standalone-e2e-example (both Mac OSX and a Docker environment). I wonder if it's because Rack is part of the framework, and therefore the external HTTP request isn't actually being made?

[2018-03-19 22:34] bethesque commented on #75
The standalone e2e executes real HTTP requests. It's this one that doesn't. https://github.com/pact-foundation/pact-ruby-e2e-example

[2018-03-19 22:34] bethesque commented on #75
Isn't it linux that has the issue anyway?

[2018-03-19 22:42] bethesque commented on #77
Something that strikes me as strange in your publishing code is that you're publishing pacts for different consumers at the same time. This is very unusual. Usually, you would generate the pacts for a consumer, and then publish the pacts for that consumer.

Can you explain your set up?

[2018-03-19 22:44] bethesque commented on #77
As an aside, can I get you to read these docs on pacticipant version numbers? The numbers you're currently using will cause you problems https://github.com/pact-foundation/pact_broker/wiki/Pacticipant-version-numbers

[2018-03-20 01:19] mefellows commented on #75
Hmm good point. Yes it's Linux, but I've not managed to reproduce it even in a Linux docker container with the standalone example from above. So perhaps it's how we're executing the standalone?

The issue is exactly the one from https://github.com/pact-foundation/pact-go/issues/41 and https://github.com/pact-foundation/pact-go/issues/36.

[2018-03-20 01:39] mefellows commented on #75
OK update. Adding `Encoding.default_external = 'UTF-8'` beneath the requires in pact/lib/vendor/ruby/2.2.0/gems/json-2.1.0/lib/json/common.rb fixes this for my Pact tests. More investigation coming, perhaps it's an env var like `LANG` configuring it.

[2018-03-20 01:55] mefellows commented on #75
Digger further...

[code]

[2018-03-20 02:03] mefellows commented on #75
OK! Looks like it might be an OS specific thing, which would explain why the standalone test works - it's a slightly different linux variant.

setting `LANG=C.UTF-8` fixes the issue for me locally, i'll validate with a Wercker build for Pact Go later.

This now begs the question - should the framework care about this or not? Also, as most wrapper libraries will be kicking off the process execution

[2018-03-20 02:04] mboudreau commented on #75
We should explicitly set it to UTF8 as that should be our baseline.

On Tue, Mar 20, 2018 at 1:03 PM Matt Fellows <notifications@github.com>
wrote:

[2018-03-20 02:56] bethesque commented on #75
Is it possible that someone may want a different encoding? Wondering if we should set it to UTF-8 _if it is not already set_.?

[2018-03-20 02:58] bethesque commented on #75
@thombergs can you see if setting `LANG=C.UTF-8` works for you too?

[2018-03-20 03:02] bethesque commented on #75
My Ubuntu machine has
[code]

[2018-03-20 03:08] mefellows commented on #75
Back from lunch - so yeah, it totally fixed it in the latest Pact Go build: https://app.wercker.com/Pact-Foundation/pact-go/runs/build/5ab06ebbdfd4d200017900c7?step=5ab06ee5e368b50001097df7

[2018-03-20 03:40] mboudreau commented on #75
Beth, the web works in UTF8, so I'd doubt anyone would willingly try to get
ASCII encoding or windows ones (shudder)

On Tue, Mar 20, 2018 at 2:08 PM Matt Fellows <notifications@github.com>
wrote:

[2018-03-20 03:45] mefellows commented on #75
That `LANG` definition looks correct, however in the official `golang` (Debian stretch) image for example, this is not respected at all. So unfortunately I'm not sure even env vars will solve the problem. I'll investigate a bit later to confirm this, perhaps it's just a matter of ensuring the _system_ is properly configured for a locale.

I'm leaning towards forcing `UTF-8`, but I'm not yet fully

[2018-03-20 04:03] bethesque commented on #75
I'm inclined to agree with @mboudreau on this one. Let's default it to UTF-8 (I'll set it in the ruby code so that people's default locale won't screw with it), and if someone wants a different encoding, we'll deal with it then via a different mechanism (eg command line parameter). I'm guessing there is a very low chance of anyone wanting a different encoding, as Michel points out.

[2018-03-20 04:08] mefellows commented on #75
I tend to agree. Just as an aside, [this issue](https://github.com/pact-foundation/pact-go/issues/41) had encoding set to `ASCII-8BIT`. So we might need to be agile if it comes up (and probably worth a documentation note across projects).

[2018-03-20 04:20] bethesque commented on #75
I guess the other option is that we could print out a large and ugly warning when the environment variable is anything other than UTF-8. I don't think people tend to read warning messages however!

[2018-03-22 10:51] shiri134 commented on #77
@bethesque here we have single consumer application, but in different parts of application we are using different providers, to distinguish between different pacts generated we are naming them differently, but they belong to same consumer application.

[2018-03-22 20:56] bethesque commented on #77
You have named them "consumer1", "consumer2" and "consumer3" - if these are pacts for the same consumer, you need to give them the same name. The pacts will already be distinguished from each other by the fact that the provider is different. It is assumed by the entire tool chain that one consumer may have multiple providers, and vice versa. The entire underlying data model will be incorrect if yo

[2018-03-22 20:56] #77 closed

[2018-03-23 04:01] travi opened #79 "cli does not accept git sha for --consumer-version"
instead it enforces semver-style versions: https://github.com/pact-foundation/pact-node/blob/8701b4db9bc5fd50bdc1e02cd076e2fe490a77ea/bin/pact-cli.ts#L58

results in the following error:

[2018-03-23 07:41] shiri134 commented on #77
Thank you, we modified all pacts to same consumer name as per the suggestion and we were able to tag them all.

[2018-03-25 04:16] mefellows commented on #75
FYI I've reproduced this on Windows too (seems to be the activity of the week for us contributors). I just got a working [build](https://ci.appveyor.com/project/mefellows/pact-go) but removing the UTF-8 stuff. I then tested on a local Windows 10 VM:

[code]
Pretty much everything I tried ended with this.

After manually modifying the file as per above, it worked a treat. I suggest we move to make

[2018-03-25 04:35] mefellows commented on #79
Thanks @travi. In fact, we actively encourage the use of non-semver in the broker so we should definitely allow other schemes here.

PR welcome ;)

[2018-03-25 06:30] mboudreau commented on #79
Except, I don't think this is something that pact-node does, but what the
ruby standalone does as part of the publish command.

On Sun, Mar 25, 2018 at 3:35 PM Matt Fellows <notifications@github.com>
wrote:

[2018-03-25 07:02] mefellows commented on #79
It looks like the regex `/^\d+\.\d+\.\d+$/` in the `pact-cli.ts`, but i'd have to take a look properly.

[2018-03-25 10:27] mboudreau commented on #79
ah shoot, you're right.  Not sure how that got there....

[2018-03-25 10:58] mboudreau commented on #79
@travi this has been fixed in 6.12.1.  Cheers.

[2018-03-25 10:58] #79 closed

[2018-03-25 11:04] mboudreau commented on #75
@bethesque is the plan to fix it at the ruby standalone by forcing utf8 for everything?

[2018-03-25 18:02] travi commented on #79
thanks a lot guys! that did fix that issue.

with that resolved, i had a little trouble getting the cli command to find my pact files since i expected the input to `--pact-files-or-dirs` to be relative to the root of my project since i was running as an npm script. after trying `./pacts`, `./pacts/pact-file.json`, `pacts`, and `pacts/pact-file.json`, i finally tried an absolute path by using the t

[2018-03-25 21:17] mefellows commented on #79
I think that's a reasonable ask. The issue is we invoke a cli in another directory so it's relative, just not to what you'd expect. It should be easy enough to do, as long as we allow an absolute path for backwards compatibility.

As a start, documenting this would be good.

[2018-03-25 22:12] travi opened #80 "accept relative paths for pact files"
as mentioned in #79, i was surprised to find that the cli did not accept paths that were relative to the project root in npm scripts. while an absolute path does work, a relative path normally works with cli tools as well.

i don't necessarily think its too limiting to only accept absolute paths, but it should at least be made more clear in the documentation that the limitation exists.

this is no

[2018-03-25 22:13] travi commented on #79
i expected something along those lines.

i opened #80 to track this if you want to make changes for this.

[2018-03-26 00:20] mboudreau commented on #80
@travi yep, I tend to agree.  The issue is that the standalone binary doesn't understand relative path since it doesn't have the context (the current working directory) from your node project, hence the need for absolute paths.  However, it should be easy enough to add that functionality into the node wrapper :)

I'll try to get something out today.

[2018-03-26 01:27] mboudreau commented on #42
@soundstep Just as a closing comment, we've now merged the pact-standalone with in pact-node, starting at version 6.12.0.  Only the OS specific version is downloaded on postinstall and not all binaries as to remove the need for a weighty package that has all operating systems.

Give it a whirl :D

[2018-03-26 08:30] bethesque commented on #75
Ok, update to the latest standalone.

[2018-03-26 12:30] mboudreau commented on #75
@thombergs Good news, we're now forcing utf8 encoding, get all the tasty goodness from 6.12.2 :)

[2018-03-26 12:30] #75 closed

[2018-03-26 20:38] thombergs commented on #75
@mboudreau @bethesque thanks for the fix! Will try it out in our project as soon as possible.

[2018-03-27 03:03] argos83 opened #82 "npm install @pact-foundation/pact-node fails: Cannot find module 'rimraf'"
Installation of pact-node fails since version 6.12.0 if `rimraf` has not been previously installed.

Tested with Node versions:
  * 4.8.7
  * 6.13.0
  * 8.9.4

On macOS High Sierra

**Steps to reproduce**:
  Execute `@pact-foundation/pact-node@6.12.2` on a clean node environment (i.e. no node modules installed)

[code]

Seems that your installation scripts rely on `rimraf` which is only declared a

[2018-03-27 03:17] mboudreau commented on #82
Crap, thought I had removed rimraf from the code.  Fixing now.

[2018-03-27 09:27] BenSayers commented on #82
Thanks for fixing this so quickly @mboudreau!

[2018-03-27 23:17] argos83 commented on #82
Thanks @mboudreau !

[2018-03-28 00:18] mboudreau commented on #82
@argos83 @BenSayers You're very welcome.  It was my bad anyways :/

We already have a new version out with messaging support as well, 6.13.0.  Cheers.

[2018-03-29 22:29] bethesque commented on #82
@BenSayers @argos83 the messaging code is just an alpha release. Don't jump the gun please @mboudreau!

[2018-04-03 21:34] mefellows opened #83 "Feature Request: Create binstubs for pact-standalone binaries"
AS a user who wants to integrate to the latest Pact CLI features
IT would be useful to be able to easily reference the Pact binaries (e.g. `pact`, `pact-broker` `pact-message` etc.)
SO that I can use them without having to write JS wrappers, or wait for them to be included in the JS library

**Example use case**

Prior to deployment, we often run the `can-i-deploy` tool to check if it's safe to re

[2018-04-05 05:08] joshhendo opened #84 "Allow 'format' to be specified when calling pact-ruby-standalone"
In my provider project, I'm interested in presenting the results in a different format (e.g. having multiple mocha tests for each thing tested, rather than a large single test).

Taking a look at how I could parse the output from `verifyProvider`, I noticed that the underlying binary (`pact-ruby-standalone`) allows a `--format` flag to be passed, with JSON available as one of the outputs.

I have

[2018-04-05 11:52] mboudreau commented on #80
@travi got a PR going to fix this issue: https://github.com/pact-foundation/pact-node/pull/85

[2018-04-15 18:25] michalboo commented on #78
I ran into what seems like this issue when playing around with the `e2e` example in the pact-js repo.

The commented-out example of using a local pact file for provider verification at https://github.com/pact-foundation/pact-js/blob/39dfc45c5fa54b9a8f1c284f7b7f1873fcea0512/examples/e2e/test/provider.spec.js suggests using an array of filepaths under a `pactFilesOrDirs` key.

After un-commenting th

[2018-04-17 22:29] #78 closed

[2018-04-17 22:30] mefellows commented on #78
Ideally, we keep that key consistent with the other parts of the project `pactFilesOrDirs` is consistent, unlike `pactUrls`. But I don't want to break backward compatibility again, so for now I've just fixed the messaging. Thanks for bringing to our attention.

[2018-04-17 22:36] mefellows commented on #78
`v6.14.3` should be on its way up in the next little bit.

[2018-04-18 06:24] mboudreau commented on #33
Fixed in 6.15.0.

[2018-04-18 06:24] #33 closed

[2018-04-24 15:29] vrish88 opened #88 "Behind a firewall pact-node fails to install"
We have a CI environment behind a firewall, so we fail to install pact-node because it tries to download the server binaries from [github](https://github.com/pact-foundation/pact-node/blob/master/standalone/install.ts#L124).

Is there a way to handle an install behind a firewall? I can think of a couple ways we could get around this. There may be a way to specify a location to download the binarie

[2018-04-25 00:42] mboudreau commented on #88
Well, first off, I would say that this issue wouldn't be only for pact, but
any node modules as they would have to be downloaded from npm regardless.

The best option for you, to reduce maintenance costs, would be to whitelist
github releases domain on your network.

The other option would be to do `npm install @pact-foundation/pact-node` on
your work computer, then commit the resulting directory

[2018-04-25 00:50] mefellows commented on #88
What we're doing is pretty non standard though Michel, so I can see why this is coming up. It's not the first time time too.

Is it that the GitHub URL isn't downloadable (can you download that URL manuall). It might just he that certain environment vars need to be exposed and we need to update our docs.

E.g. `HTTPS_PROXY`

[2018-04-25 21:55] vrish88 commented on #88
@mboudreau right now we've got holes poked in the firewall for npm/yarn repositories so we are able to download js dependencies. If we had control over the firewall we totally would whitelist the github releases domain .

We are able to download the npm dependencies just fine in our CI env. We can download the resources from github on our local development machines. Unfortunately it's our CI envir

[2018-04-30 04:42] mboudreau commented on #88
Sorry for the delayed comment. Can't say I'm a fan of using an environment variable that anyone can hijack to download, extract and use a binary from an unknown source without the user's knowledge; it's a massive security risk and I'm not going to risk our user's security just for a firewall workaround for a singular situation.

I frankly can't think of a plausible solution right now that will wor

[2018-04-30 05:50] mefellows commented on #88
@vrish88 I'm hoping we can find you a solution, but I suspect we'll need to find another way. As per before, can you please help us confirm about how GitHub is blocked? I would suggest talking with your security people, it seems more likely that GitHub isn't actually blocked, it just requires access through a proxy. If that's the case, we can help you as there are standard patterns to make this wo

[2018-04-30 14:51] uldissturms commented on #88
Facing the same issue. Env variables is a sane solution IMO, hence PR #89.
@mboudreau - what other options do we have for people that would love to host dependencies themselves? NPM is not the only source for packages - some setups have their internal NPM and artifact registries.

[2018-04-30 23:14] mboudreau commented on #88
@uldissturms it's not sane to create a security hole for all users from a security standpoint, which is kind of the whole reason for this thread in the first place.

Best option if you're going to have arbitrary firewall rules, is to install pact-node locally then install all binaries by doing `node node_modules/@pact-foundation/pact-node/postinstall.js darwin; node node_modules/@pact-foundation/p

[2018-05-01 06:06] uldissturms commented on #88
This will not work in the current setup we've got unfortunately - building node modules solely from package.json and lock files in a separate docker container and sharing volume from that container later on. Everything except those two JSON files is ignored.

Couple options we're considering at the moment - all ugly:
* preinstall npm script that `mkdir` and `wget` tar from local artifact store
* b

[2018-05-01 08:30] mefellows commented on #88
@uldissturms do you mean something like [this](https://github.com/remy/nodemon#packagejson) or [this](https://babeljs.io/docs/usage/babelrc/#use-via-packagejson)?

So for Pact, it might look like allowing users to configure it with:

package.json
[code]

I don't see a problem with this security-wise (if you can't control your running environment then you have all kinds of other security issues), b

[2018-05-01 08:49] uldissturms commented on #88
@mefellows yes, cool, are you happy that this standaloneBinary property can be either local path or URI? Would be good to have it as URI so that we can use the same download logic present in `install.ts`.

[2018-05-01 12:33] uldissturms commented on #88
Dwelling more on the same issue...
Libraries such as PhantomJS and ChromeDriver don't seem to mind having an option to download artifacts from custom CDN / local locations. Would be interesting to see what were they security reasoning.

https://www.npmjs.com/package/phantomjs-prebuilt
https://www.npmjs.com/package/chromedriver

Putting something like the following in .npmrc seems particularly appe

[2018-05-01 12:44] mefellows commented on #88
I like this option best, and yes, local or http based seems reasonable to me.  @mboudreau if it's good enough for chrome...?

@uldissturms would you be willing to submit a PR that also performs the version check logic? I'm flat out with other bits at the moment

[2018-05-01 16:53] uldissturms commented on #88
@mefellows yes, IMO version check will happen by the fact that we look for a file that contains version in its name. I think it makes sense to be able to provide custom version through the same mechanism as well. Just waiting to hear back if @mboudreau is happy with the change - he was opposing strongly.

[2018-05-01 21:34] mefellows commented on #88
Yep, letter ensure we have considered this from all angles before jumping in, Michel often finds another perspective

[2018-05-02 14:16] mboudreau commented on #88
After some thought and talking to a security expert colleague of mine, we both agree that environment variables are a terrible way to handle binaries since it would be too easy to change it from another package and point to another binary that does something malicious.

What we did end up on is either having a pact.config file at the root of the project or having the config as part of package.json

[2018-05-03 20:52] uldissturms commented on #88
Config in package.json would work for us.

Not using an env variable for CDN URL still leaves this module open to other env var attacks: HTTP_PROXY / HTTPS_PROXY that are respected by request module.

I imagine malicious package would just download the bins and execute not worrying too much about altering other modules. Or modify other modules in a ways beyond env variable substitution. (monitor f

[2018-05-03 20:59] mefellows commented on #88
@uldissturms the problem with peer dependencies is that we have a separate one for each OS/distro, and use optional deps instead - this just meant more npm package management and publishing and bigger downloads (as npm `package-log.json` would contain an OS specific package, and then fail on a linux CI, for instance).

It was a mess, and there are a few issues around it.

This approach is 👍 for me

[2018-05-03 23:53] mboudreau commented on #88
You don't, but we've had complaints from others saying the exact opposite
since pact-node used to be about 200megs all up.  This way we make sure we
split it up to just download the minimum required binary.

We could look into doing a checksum on the version for the binary, that way
it locks the binary for that particular version needed in pact-node.  This
would also make the security of the confi

[2018-05-07 04:18] mboudreau commented on #88
Yep, I think I've decided to implement a checksum check on the binary with the ability to change the location.  This way, we can pretty much guarantee that the correct binary is used.

Sorry this is taking a while and causing you pain.  I'll try to get this done this week :)

[2018-05-07 22:27] bbarke opened #90 "pact-node fails to launch mock server on windows"
We are using pact-node (v6.16.0) bundled with pact-karma (2.1.5) and pact-web (5.9.0)

When trying to run the pact tests on a windows machine, I'm seeing the following error
[code]

When trying to run that bat file directly, I get the following error
[code]

Any pointers on why this is happening?

[2018-05-07 22:29] mefellows commented on #90
Hmm could you please share your Windows environment details?

Which shell are you running it on?

[2018-05-08 02:34] mboudreau commented on #90
@bbarke was there any issues with your install process? There's a postinstall that runs and downloads the binary files needed for your OS.  Maybe just try to reinstall it using `npm uninstall @pact-foundation/pact-node; npm install @pact-foundation/pact-node`.

[2018-05-08 07:40] sbaechler opened #91 "Do not fail installation when Google Analytics call fails"
I had trouble installing pact. I kept getting the following error:

[code]

Only when I set `DO_NOT_TRACK=true` the installation worked. I believe that the call to Google Analytics failed.

Please add a catch clause to that call so it does not break the installation if the call fails.

[2018-05-08 07:58] mefellows commented on #91
@mboudreau I thought you [checked](https://github.com/pact-foundation/pact-node/pull/87#commitcomment-28642948) that as part of [this PR](https://github.com/pact-foundation/pact-node/pull/87)?

As in, tested the graceful degradation?

[2018-05-08 08:17] mboudreau commented on #91
It should be a fire and forget. I'll check it again to be sure.

On Tue., 8 May 2018, 5:58 pm Matt Fellows, <notifications@github.com> wrote:

[2018-05-08 09:00] mboudreau commented on #91
@sbaechler Why is it pointing to 0.0.0.0:443? Do you have a funky setup?

[2018-05-08 09:35] mboudreau commented on #91
@sbaechler Eh, doesn't matter either way, I've added something to ignore errors that might arise.  The fix will be out with 6.16.2

@mefellows it seems that my understanding of the node HTTP client was lacking when it came to error handling.  Apparently, if you don't handle it via a listener, it actually bubbles up and errors out at the process level, which is weird because it actually doesn't see

[2018-05-08 09:35] #91 closed

[2018-05-08 11:27] mefellows commented on #91
I'll admit I saw the code and in passing thought something similar. Thanks for fixing!

[2018-05-08 11:28] mefellows commented on #91
It's common to run local proxies in Corp/Enterprise environments, where localhost proxies out (often via other intermediate proxies - proxyception!). But that might have just been a test to see what happened.

[2018-05-08 13:16] sbaechler commented on #91
I forgot, I block trackers in the hosts file using [hBlock](https://github.com/zant95/hBlock). That's why the Google Analytics call failed.

[2018-05-08 17:42] bbarke commented on #90
This is on Windows 10 with the regular windows terminal.

It looks like the issue was because the location/path of the project had a space in it, for example:

`C:\MY UI\angular-project\` it was failing because it didn't handle the space and tried to run 'UI as an argument, resulting in 'no such file or directory -- UI'

[2018-05-09 02:18] mboudreau commented on #90
@bbarke wait, pact-node didn't work because of the space or just the .bat command?  Because if it's the former, there's definitely an issue which shouldn't happen.  Can you please confirm?

[2018-05-09 21:04] bbarke commented on #90
Yes I can confirm this. I renamed a working pact project path to have a space in it, and pact failed to launch. I changed the name back to to not have a space, and it started working again.

[2018-05-09 22:40] mboudreau commented on #91
Ah, that's why.  Either way, it's a good edge case for us, and it should
fail gracefully :)

On Tue, May 8, 2018 at 11:16 PM Simon Bächler <notifications@github.com>
wrote:

[2018-05-09 22:42] mboudreau commented on #90
@bbarke my question is, are you talking about using the command line to hit the .bat file, or using the pact-node CLI/API?  Because if it's the latter, that's a bug that needs to be fixed.

[2018-05-09 23:44] bbarke commented on #90
I'm using karma-pact, which uses the node CLI/API to start the pact stub server.

[2018-05-09 23:47] mboudreau commented on #90
huh, okay.  This might be a bug then.  I'll have to investigate further,
but I'm guessing it has something to do with the shell script running that
wrapping it in quotes.

On Thu, May 10, 2018 at 9:44 AM Brent Barker <notifications@github.com>
wrote:

[2018-05-10 01:49] TimothyJones commented on #90
@mboudreau, if quoting is indeed the issue, then the investigation here might be useful: https://github.com/pact-foundation/pact-js/issues/160

[2018-05-10 02:27] mboudreau commented on #90
Yep, spot on. I'll fix this today if I can.

On Thu., 10 May 2018, 11:49 am Timothy Jones, <notifications@github.com>
wrote:

[2018-05-16 07:46] mboudreau commented on #88
@vrish88 @uldissturms There's a PR currently in play that will fix this issue for you.  It's working pretty well when testing it out locally without compromising security of everyone by embedding the checksum within the package of the binaries.

Still a bit of work needed on it, but should go out soon enough.

[2018-05-17 23:55] mboudreau commented on #88
@vrish88 @uldissturms [I've packaged up the latest version](https://drive.google.com/file/d/106K9vNqHdGXvw0rNVG4g0MFUfbnu47ao/view?usp=sharing) and I was hoping you could try it out with your setup (place package at the root of your project, then change the package.json pact-node dependency to point to the package with `"@pact-foundation/pact-node":"./pact-foundation-pact-node-6.17.0.tgz"`).  To c

[2018-05-18 08:41] uldissturms commented on #88
I can confirm that it works for me with local file path:
`npm i sumchecker && npm run postinstall` from package dir.

[code]

[2018-05-19 02:59] mboudreau commented on #88
@uldissturms Thanks for confirming.  There's a slight issue on Windows that I need to fix and after that I'll release version 6.17.0.  Cheers.

[2018-05-21 12:57] mboudreau commented on #88
@vrish88 @uldissturms Version 6.17.0 is released.  Feel free to use the latest version in your production system and let us know of any feedback you may have. Cheers.

[2018-05-21 12:57] #88 closed

[2018-05-21 13:01] loheswaran opened #93 "Pact-broker behind reverse proxy - Unable to publish and verify provider"
I have set up pact broker behind a reverse proxy.  Getting error while trying to publish and verify the
pact.  The same works with non-ssl URL

**Pact publish error log :**

[code]

**Pact verify provider error log :**

[code]

[2018-05-21 13:07] mefellows commented on #93
This is unrelated to pact-node, my guess is that you have a self-signed SSL certificate that the Node JS runtime is not aware of, and is complaining about not trusting the unverified SSL certificate.

You'll need to ensure the node process that runs the publish step has been setup with the correct SSL configuration.

[2018-05-21 13:13] loheswaran commented on #93
I am not seeing an option to pass the SSL certificate in publish and verify provider API.

<img width="873" alt="screen shot 2018-05-21 at 6 38 51 pm" src="https://user-images.githubusercontent.com/8875426/40309270-84fa5a18-5d26-11e8-87c0-54d62f34e4a0.png">
<img width="718" alt="screen shot 2018-05-21 at 6 39 33 pm" src="https://user-images.githubusercontent.com/8875426/40309271-855aa1d4-5d26-11e8

[2018-05-21 16:30] vrish88 commented on #88
Thanks a bunch for all the work! And yes, this is a way better solution than just an environment variable 😄

[2018-05-22 00:10] mefellows commented on #93
Sorry @loheswaran I incorrectly believed the node Process was responsible for the certificate management, which either way, would not have been an option there (it would be a _node_ option, not a _pact_ one).

We currently don't support this via Node, your options:
* Disable SSL if it's only accessible internally anyway
* [publish your pacts manually](https://github.com/pact-foundation/pact_broker

[2018-05-22 00:59] bethesque commented on #93
https://github.com/pact-foundation/pact-ruby-standalone/releases#pact-broker-client

[2018-05-22 11:36] loheswaran commented on #93
@bethesque, I tried setting **SSL_CERT_FILE** environment variable.  Now I am able to publish the pacts to the broker but verify pact is still failing. Please find below for pact verify error log

`Error: the string "Unable to find pacts for given provider 'APIHealthCheckService' and tags ''" was thrown, throw an Error :)`

The document shows that pact verify supports local and networked (http-bas

[2018-05-23 03:07] bethesque commented on #93
Can you locate the ruby standalone package inside your node package, and then find the README.md. Inside, you will find all the version numbers of the gems included. Can you copy paste them here?

[2018-05-23 03:10] bethesque commented on #93
Actually, @mefellows, given that the pact-provider-verifier only currently accepts URLs, the js code must be using the broker API to look up the pact URLs to pass in to it (though we will be adding this soon, one of the DiUS people is working on the code for this). I believe this is back to you now.

[2018-05-23 03:38] mefellows commented on #93
Which takes me back to my original [comment](https://github.com/pact-foundation/pact-node/issues/93#issuecomment-390648521). This is a node TLS configuration, I haven't tested myself but in theory adding your CA and/or self-signed certificate to the NodeJS runtime configuration should be all that is required.

[2018-05-23 12:14] mefellows commented on #93
Thanks @loheswaran, however it's not the provider verifier that is currently the issue.

`Unable to find pacts for given provider` is an error in Pact Node, which is fetching the pacts from the broker and _then_ passing on to the verifier. There is no Ruby process doing this.

The first step is to configure **Node JS** to accept your self-signed certificate, which you should be able to Google and

[2018-05-23 22:57] mefellows commented on #93
@loheswaran I'm just speculating, but [these lines](https://github.com/pact-foundation/pact-node/blob/master/src/broker.ts#L40-L83) of code is what goes out to the Pact Broker to fetch pacts.

Given that your broker is running with a self-signed certificate, the NodeJS runtime is not able to trust it without some configuration telling it that it is safe - I'm guessing that this is the cause of you

[2018-05-24 23:52] mboudreau commented on #90
@bbarke very sorry I haven't gotten to this yet.  It's been hectic at work with GDPR :/

[2018-05-28 21:00] mefellows commented on #93
@loheswaran any update?

[2018-05-29 10:55] mefellows opened #94 "Unable to provide multiple `customProviderHeader` args"
See https://github.com/pact-foundation/pact-js/issues/182#issuecomment-392729545 for background.

[2018-05-30 02:56] mboudreau commented on #84
Closing this as it's been pushed out with version 6.18.0.

[2018-05-30 02:56] #84 closed

[2018-05-30 03:19] mboudreau commented on #84
@joshhendo I'm going to do another release (6.18.1) that instead of using "RspecJunitFormatter" for format, just uses "xml" instead, so the option is either "json" or "xml".  I feel like the abstraction is needed and better reflects what the binary is actually doing.  Hope that's alright.

New version going out now.

[2018-05-31 14:53] mboudreau commented on #90
@bbarke good news, version 6.18.3 is going out as we speak with the windows path fixes.  Please let us know how you go.  Cheers.

[2018-05-31 14:53] #90 closed

[2018-05-31 20:53] mefellows commented on #90
Thanks Michel!

[2018-05-31 21:49] bbarke commented on #90
Thank you!

[2018-06-05 20:04] christopher-francisco opened #247 "Pact-node's ruby bindings don't work if the project name has spaces"
## Software versions

* **OS**: `macOS 10.13.3`, `Centos 7 (probably)`
* **Consumer Pact library**: `5.9.1`
* **Node Version**: `8`

## Expected behaviour

It shouldn't matter whether the directory name has or hasn't spaces on its name.

## Actual behaviour

When creating the mock server, it somehow split the project path where spaces exist: `/var/lib/jenkins/workspace/My Cool App/`, and attempts

[2018-06-15 04:56] bethesque opened #96 "Please update standalone to 1.45.0"
There is a new option `--log-level` in the pact-mock-service. Can this be exposed in the js config please. Options are DEBUG, INFO, WARN, ERROR. It defaults to DEBUG if no option is given.

This is for: https://github.com/pact-foundation/pact-mock_service/issues/91

[2018-06-17 09:55] mefellows commented on #96
Yep, we'll lock it to what we expose via Pact Node and Pact JS.

[2018-06-24 05:14] mboudreau commented on #96
Done, version 6.19.0 out.

[2018-06-24 05:14] #96 closed

[2018-06-24 05:15] mboudreau commented on #93
I'm going to close this for now.  I haven't heard anything from @loheswaran in a while.  If this is still a problem, we'll reopen this ticket.

[2018-06-24 05:15] #93 closed

[2018-07-05 10:42] niuwanlu opened #97 "Pact Download Location config is not working"
Thank you for providing Pact as so wonderful a contract testing tool. But we got some problems when working with it.

Our team was spiking pact and decided to use pact as our contract test tool. As we need to deploy our project to an internal machine, it can't access github releases to get the binaries needed by pact-node when running `npm install`. I was very happy when I saw there was a configur

[2018-07-05 11:49] mboudreau commented on #97
ah yep, you're correct.  I did some refactoring and it screwed up the order of things.  Let me fix that.

[2018-07-06 05:01] mboudreau commented on #97
Alright, I've fixed it and figured out how to add tests around this to prevent regression.  Version 6.19.3 should be going out shortly.  Cheers.

[2018-07-09 03:11] niuwanlu commented on #97
Thank you for your very quick response.  I've tried it, really works! Amazing! 👍

Still have a question.  `pact_binary_location` can ONLY be set as absolute path, is it? Tried to set it to a relative path, it did't work.

[2018-07-09 03:20] mboudreau commented on #97
hm, I didn't think of that.  It's a good point. Originally, it was built for a URL type of approach and not directory, but it makes sense to be able to do relative path based on where the package.json with the config is located.

Let me rejig it a bit to fix that.

[2018-07-09 07:06] mboudreau commented on #97
Alright, version 6.19.4 is going out now with the fix and accompanying tests to prevent regression :)

[2018-07-09 07:06] #97 closed

[2018-07-12 06:25] shavo007 opened #98 "No consumer contract parser found for hash"
Issue when verifying my pact
sample code

[code]

When i run this i was expecting to pull down all pacts for my provider. I am running the latest pact broker docker image

But i get the error above

Deps are:

[code]

it only works when i hardcode the absolute url for the pact broker

[code]

[2018-07-12 06:31] shavo007 opened #99 "Error with pattern matcher"
I have added in pattern matching to my interaction.

When i run pact verification it works fine.

But i see a warn in the console for pact broker

` WARN: Ignoring unsupported matching rules {"min"=>1} for path $['body']['Advertisers']`

I use `eachLike` on an array

[code]

Deps:

[code]

pact broker : dius/pact-broker:latest

Thanks,
Shane.

[2018-07-12 06:50] bethesque commented on #99
I am actually just fixing that at the moment. Ignore the warning, the min is being used. The warning will be gone in the next release.

[2018-07-12 10:11] mboudreau commented on #99
Next release will be out in the next few hours :)

On Thu., 12 Jul. 2018, 4:50 pm Beth Skurrie, <notifications@github.com>
wrote:

[2018-07-12 16:50] mattstankey opened #100 "Windows 10 Pathing issue on Ruby node_modules"
Hi,

I am trying to test some service endpoints with Pact using Windows 10.  I am getting a strange ruby error on the require statements on line 1 of the node_module packages when running ./node_modules/.bin/jasmine.  The same tests run fine on a Mac, but throw the error stacktrace shown below on Windows.  Here are the following details for the Pact libs:

[code]

Here is the test I am trying to r

[2018-07-12 21:55] bethesque commented on #100
That's very strange. I don't have a Windows machine, so could you create a git repo of just that code so that I can run it on appveyor?

[2018-07-13 00:06] mefellows commented on #98
Thanks @shavo007.

Could you please post the debug logs for this. You'll need to set the following in your test code:

[code]

As a start, you need to URL encode your provider name. i.e.

[code]

can simply be:

[code]

[2018-07-13 00:38] shavo007 commented on #98
not a problem @mefellows

config again:

[code]

[2018-07-13 00:42] shavo007 commented on #99
let me know @mboudreau  and ill test it out

[2018-07-13 01:02] mefellows commented on #98
Thanks @shavo007, can you please paste the output of `stdout` during the run. You should see something like:

[code]

This will help us see what pact-node is trying to do.

[2018-07-13 01:08] mboudreau commented on #99
Sorry, we hit a small snag because the latest binary changed something
slightly.  We're currently in the process of fixing it and will release a
new version soonish.  Cheers.

On Fri, Jul 13, 2018 at 10:42 AM shane lee <notifications@github.com> wrote:

[2018-07-13 01:19] shavo007 commented on #98
BTW, i am using node 10.5.0

there is alot of output here but it starts with

[code]

[code]

[2018-07-13 01:29] mefellows commented on #98
AH, I see it.

[code]

This is a list of _known_ pact URLs. If you want to fetch from the broker, you need to specify the pact broker URL, e.g.

[code]

This is why we're not seeing `"Finding consumers ..."` at the start.

[2018-07-13 01:33] shavo007 commented on #98
voila, that worked @mefellows!!!

[code]

i think the docs are a bit confusing.

why have two fields for pact broker url?

https://github.com/pact-foundation/pact-node#provider-verification

[2018-07-13 01:33] shavo007 commented on #98
pactBrokerUrl which is a string and pactUrls which is an array

[2018-07-13 01:34] shavo007 commented on #98
also `providerVersion ` is a boolean, i believe it should be a string?

[2018-07-13 01:36] mefellows commented on #98
Yep, I can see how it's a bit confusing, I'll update the docs shortly.

We don't actually have two fields for a pact broker url - `pactUrl` just takes an arbitrary number of URIs where pacts reside - whether local files or on remote HTTP systems (it just so happens that you _can_ point broker URLs in their to the specific pact files).

`pactBrokerUrl` tells the verifier to use the broker discovery

[2018-07-13 01:39] #98 closed

[2018-07-13 01:43] shavo007 commented on #98
yes and no @mefellows !

i was under the assumption pacts are verified by a broker?
but i guess you could host them on a http server if you wanted.

i guess its an easy mistake but the error i got would not help me decipher what was wrong!

thanks for your help anyway

[2018-07-13 01:44] mefellows commented on #98
It didn't help me either - so I agree with you there.

I'll raise an issue over in the verifier repo to see what we can do.

[2018-07-13 01:54] shavo007 commented on #98
👍

[2018-07-13 05:35] mefellows commented on #99
6.19.5 on its way out folks, stand by.

[2018-07-13 05:50] shavo007 commented on #99
🚀

[2018-07-14 03:07] bethesque commented on #98
Pact generation and verification happens on your machine. The pact broker stores the pacts and verification results.

[2018-07-16 14:52] AndrewSerie commented on #90
We are running `pact-node 6.19.6` `karma-pact 2.1.5` and `pact-web 5.9.1`

Is there a max path length requirement? I seem to be having issues with running pact tests with directories that are long.  After I change the length of the directory names, pact-node starts up successfully.

After running on windows machine with long path names:
[code]

Simply making the directory smaller will start pact-n

[2018-07-16 15:13] AndrewSerie opened #101 "Windows 10 Long Pathing Issue"
We are running `pact-node 6.19.6` `karma-pact 2.1.5` and `pact-web 5.9.1`

Is there a max path length requirement? I seem to be having issues with running pact tests with directories that are long.  After I change the length of the directory names, pact-node starts up successfully.

After running on windows machine with long path names:
[code]

Simply making the directory smaller will start pact-n

[2018-07-16 22:08] mefellows commented on #101
Yep, Windows has a hard maximum length on file names - so the longer your project path, coupled with the length of paths results in all kinds of madness. Absolute madness.

@mboudreau I'm thinking perhaps we could almost detect this situation, and log out a warning so people know the reason as to _why_ it failed - thoughts?

[2018-07-16 23:24] mboudreau commented on #101
@mefellows I can see what I can do, but I'm not sure if there's a way of really figuring out why the app crashed, other than place a windows path 'check' before it starts running.  I'm sure others have hit this issue...

[2018-07-17 01:40] AndrewSerie commented on #101
I understand the 260 chars but my pathing to the app folder is ~ 80 chars which leaves me with another 180 chars.  Is it because the binary is getting buried inside of the npm package? I dont see this as a viable option if pathing to my app's working directory has to be < ~70

[2018-07-17 03:46] mefellows commented on #101
@AndrewSerie short answer - yes. Have a look through the issues for more background as we've been through this multiple times. Without significantly re-architecting things (which we are doing btw, it just takes time) this won't be able to change. We're certainly open to new suggestions.

If pathing is an issue for you, have a look at installing the [binaries](https://github.com/pact-foundation/pac

[2018-07-18 13:43] mboudreau commented on #101
I've added a warning in Pact on initialization to let the user know if they have windows long path enable or not, version 6.19.7.  It will warn the user about the issue and how to solve it by [pointing them to a registry fix ](https://github.com/pact-foundation/pact-node/blob/master/README.md#enable-long-paths).

This is really the best I can do, the rest is on Windows to fix.

[2018-07-18 13:43] #101 closed

[2018-07-18 13:46] mboudreau commented on #100
I can confirm that this issue is related to the long path limitation of windows.  [Feel free to fix it on windows by setting the appropriate registry key](https://github.com/pact-foundation/pact-node/blob/master/README.md#enable-long-paths).

[2018-07-18 19:16] mattstankey commented on #100
Yes, after moving the project to C;/[project_name] it does work for me.  It looks like this is an issue with Windows 10 path length.  I'm not sure if it is specifically related to Ruby or not, but it doesn't seem to be related to pact-node.

Thanks!

[2018-07-18 21:17] mefellows commented on #101
I think this is perfect @mboudreau!

[2018-07-18 22:47] mboudreau commented on #100
@mattstankey did you see my solution above?

[2018-07-19 01:15] LeeGDavis commented on #100
I imagine this is a limitation of Ruby in Windows 10 with long path support.  I don't know what you need to overcome this since MS doesn't have this limitation anymore.  However, it is opt-in, even on more current builds.

`Starting in Windows 10, version 1607, MAX_PATH limitations have been removed from common Win32 file and directory functions. However, you must opt-in to the new behavior.`  [MS

[2018-07-19 01:34] mboudreau commented on #100
@LeeGDavis Why would it be a ruby limitation if it only happens in Windows?  I do believe the file access is done with C in ruby, hence it should be using the windows file api and should adhere to the long path solution.

[2018-07-19 03:36] mboudreau commented on #100
Maybe, but I had enabled long paths on my windows box and found I couldn't
go more than 260 characters, which is weird... Again, not sure if this is
related, but trying to dig deeper into the horrible abyss that is Windows.

On Thu, Jul 19, 2018 at 1:28 PM Lee Davis <notifications@github.com> wrote:

[2018-07-19 03:49] LeeGDavis commented on #100
@mboudreau have a look at this issue https://bugs.ruby-lang.org/issues/12551.  While I don't know if this is exactly representative of what is being observed here, I imagine it is related.  They even reference the long path prefix `\\?\` to cause the api to call into the unicode version of the api.  I suppose one could always use [WSL](https://docs.microsoft.com/en-us/windows/wsl/install-win10) 😀

[2018-07-19 04:32] mboudreau commented on #100
@LeeGDavis I might have found a solution, but dropping the binary files in the user's tmp directory, which should be a lot less long.  Let me try it out and I'll release a new fix version and see if that helps you in your situation.

[2018-07-19 07:03] mboudreau commented on #100
hey @LeeGDavis,

I think I may have a fix for you.  https://github.com/pact-foundation/pact-node/pull/103

Maybe you'd want to pull the files, build and test it out.  It should download the binaries to the temp directory, which should be a lot less long than your project path.

Cheers,

M

[2018-07-19 11:21] mboudreau commented on #100
@LeeGDavis @mattstankey  disregard my last comment, I've released a version, `6.19.8-rc`, if you could please update your dependencies to it and try it out to see if you hit the same issue.  Cheers.

[2018-07-19 15:11] LeeGDavis commented on #100
@mboudreau I can't seem to locate that version.  Is there anything special I need to do to pull that down?

[2018-07-19 23:59] mboudreau commented on #100
@LeeGDavis Sorry, seems like it had skipped the deployment, my bad.  I redeployed it properly now, please try again.

[2018-07-20 04:16] LeeGDavis commented on #100
@mboudreau Looks like this is still an issue, however this error looks different.  I hope this stack trace helps:

[code]

[2018-07-20 04:23] mboudreau commented on #100
Okay, that's better.  I means that the Pact binary is running, but now the binary is having issues opening the file that's more than 260 characters.  We might be able to fix this.

@bethesque [As per Microsoft's article](https://docs.microsoft.com/en-us/windows/desktop/fileio/naming-a-file#maximum-path-length-limitation), could you maybe have the binary prepend `\\?\\` to windows files paths to en

[2018-07-22 23:20] bethesque commented on #100
If the ruby code needs changing, I can do that, but I think you should be able to pass in the path with the right prefix?

[2018-07-22 23:41] mboudreau commented on #100
@bethesque I can to just test it out, however, I think it should be fixed from the Ruby end since this particular issue would affect every language that uses it.

[2018-07-22 23:49] bethesque commented on #100
Fair point. See how it goes.

[2018-08-09 01:26] mefellows commented on #83
Did you want to have a stab at a PR for it?

[2018-08-09 01:33] amr-labib commented on #83
Yes, I could try, it would be my first github PR though. I am reading the contribution guidelines now.

[2018-08-09 01:54] mefellows commented on #83
That would be great, thanks!

[2018-08-10 04:21] TimothyJones opened #104 "Unable to run npm install on a fresh checkout"
On a fresh checkout, `npm install` fails:

[code]

doing `npm run build` (which also fails, because the dependencies are missing), will generate the module, but then `npm install` fails differently:

[code]

Do I have something in my environment configured incorrectly?

Here are my npm and node versions:

[code]

[2018-08-10 04:27] TimothyJones commented on #104
Seems to work with `npm install --ignore-scripts` - is that the right way to set up a dev environment?

[2018-08-10 23:41] amr-labib commented on #83
I am working on getting this done but I found that we will run into a conflict with one of the binaries. When I look at one of my projects with `pact-node` installed, I find a symlink in `./node_modules/.bin`  defined as:

`pact -> '../@pact-foundation/pact-node/bin/pact-cli.js'`

This will conflict with the pact binary in the standalone package.

What would be recommended here? Should I just igno

[2018-08-11 01:53] mefellows commented on #83
I think we should consider naming the pact node binary `pact-node` to reflect the package name, and the other bin stubs are kept consistent with their originals. We'll want Michel's opinion on this on his return but I can't imagine this blocking you too much.

[2018-08-13 03:17] mefellows commented on #104
ah, yes this confused me as well.

I think you first need to run `npm run build` to compile before you can `npm i`. I'm not sure why the watch was removed, albeit I never used it myself personally.

I think this was an issue when we moved to TypeScript (due to the need to compile). Perhaps the install step could be made more clever?

My expectation as a contributor should be to do the following:

[2018-08-13 04:50] TimothyJones commented on #104
I found that

[code]

was what was necessary. Might be able to fix this by changing the post-install script - I'll have a look.

[2018-08-13 05:02] TimothyJones commented on #104
Ok, that works, but then errors because the checksums are missing. PR incoming.

[2018-08-14 23:32] christopher-francisco opened #109 "Log level not being honored"
I see `WARN` and `INFO` logs even when I set it to `error`:

[code]

Here are the logs:

[code]

[2018-08-14 23:46] mefellows commented on #109
Thanks Chris, we have some work to do as there are multiple layers where logging is set. This setting doesn't propagate all the way through in older versions of pact, but also to my knowledge we can't set log-level on the verification process (which is external to the node/JS libs).

@bethesque thoughts? I can raise a feature request for this.

[2018-08-18 02:55] amr-labib commented on #83
@mefellows I kind of have this ready to submit for a pull request but I will be waiting for a response on https://github.com/pact-foundation/pact-ruby-standalone/issues/22
I could submit the PR without it after I had tested on windows but the symlinks won't work out of the box for some users (like me).

[2018-08-19 06:26] mefellows commented on #83
Awesome - thanks! Sure, get the PR in and we can pop a label on it to avoid merging. At least the PR process can begin.

[2018-08-21 11:13] bethesque commented on #109
I thought I'd done it in the verifier, but it seems I've only done it for the mock service https://github.com/pact-foundation/pact-mock_service/blob/master/lib/pact/mock_service/logger.rb

Easily added, raise an issue.

[2018-08-21 11:13] bethesque commented on #109
But really, I'm trying to fix all those warnings so you don't need to change the log level. The latest version of pact-js shouldn't have them. If it does, please let me know.

[2018-08-22 05:31] mefellows commented on #109
Created https://github.com/pact-foundation/pact-provider-verifier/issues/26 to track issue.

[2018-08-23 04:20] iknowcss opened #110 "Sinon `useFakeTimers` causes init to hang"
## Software versions

* **OS**: all
* **Node Version**: all

## Expected behaviour

Pact is unaffected by usage of `sinon.useFakeTimers()`

## Actual behaviour

`AbstractService#__waitForServiceUp()` promise never resolves. The `setTimeout`s used in this (and other) functions never fire their callbacks.

## Steps to reproduce

https://gist.github.com/iknowcss/356d449b96cf44a9a70c70adde7a8ce6

## R

[2018-08-23 05:02] mefellows commented on #110
Thanks @iknowcss. I'm reticent to put things in here / change things as a result of the internals of how other frameworks behave. That being said, Sinon/Jest/other frameworks that use Sinon are quite common, and likely to cause issues for others. So if the change required to support them is maintainable etc. then i'm certainly open to discussion.

[2018-08-23 07:06] iknowcss commented on #110
@mefellows yeah, I can definitely see where you're coming from. Practically speaking I'm not sure what other options we have. At the moment Pact fails without warning or any indication of the cause of the issue.

The only other way I can think to do this is to use a library which will wait for a condition (like the Pact server being up and running) rather than use `setTimeout`. And I'm sure that l

[2018-08-23 07:52] TimothyJones commented on #110
What use case do you have for `useFakeTimers` in a Pact test? I'm asking because my gut feel is that fake timers would belong to a layer better tested by pure unit tests.

[2018-08-24 00:34] iknowcss commented on #110
Here is a simplified version of how we use `sinon.useFakeTimers()` to stub `Date.now()` in our test:

[code]

I believe my problem would be solved by moving the `sinon.useFakeTimers()` to after the point where I add the interaction. Or by not testing this logic using pact. But again I worry about others being affected by this and not understanding why.

[2018-08-24 02:01] TimothyJones commented on #110
I think your code seems like a reasonable place to be using `Date.now()`.

If it really is a one line change as in #112, and doesn't impact anything else, I'm for this.

Are there other time mocking approaches that we would also fail with?

Whatever we do here, I think it's worth a documentation change, too - if `pact-node` doesn't work if `setTimeout` is mocked, we should document that. If it ign

[2018-08-24 05:28] iknowcss commented on #110
To my knowledge any time mocking that overwrites `setTimeout` would affect us. Any other type of time mocking would not affect this project.

Would you like me to put in some documentation in my PR?

[2018-08-28 23:22] #104 closed, assigned to nobody

[2018-08-28 23:52] mboudreau commented on #110
I'm not sure I understand the issue here and why you need fake timers at all.  If you're using your pact tests to do both unit testing and contract testing, you're going to have a bad time when it comes to the minutiae of your business logic, hence the problem you seem to be hitting right now since sinon is meant to be used for unit testing, testing a single function's inputs and outputs.

My sugg

[2018-08-29 02:04] iknowcss commented on #110
Hi @mboudreau, yeah, you're right that I can solve this particular problem without fake timers. However, I'm not sure it's safe to assume that Pact will be done outside of the context of unit testing. The Pact [Best Practices](https://docs.pact.io/best_practices/consumer#use-pact-for-isolated-unit-tests) explicitly state "Use Pact for isolated (unit) tests to test the class(es) that will be respon

[2018-08-29 03:37] mboudreau commented on #110
It still doesn't stop people from mocking it before pact is required. What
you're hitting is a javascript limitation mixed with how you're doing
things. People can go ahead and change some of the globals, but that's at
their own peril and we really can't stop them from breaking the pact
workflow if they really wanted to.

Pact has been around for years now and this is the first time I've heard of

[2018-08-29 04:03] TimothyJones commented on #110
I 100% agree with your logic about not changing globals - but I do think that it's good for Pact to play nicely with other common testing frameworks (sinon is reasonably popular).

We might not agree with the philosophy of sinon, but I think it's best for Pact adoption if Pact "just works" with common testing frameworks.

Since a call to `useFakeTimers()` would always come after pact initialises,

[2018-09-03 04:06] mboudreau commented on #110
@TimothyJones I'm not convinced of that argument.  Just because a semi-popular mocking library decides to implement something that breaks the world, I fail to see how that's our responsibility to support that.  We do play nicely with Sinon for literally everything else, except something that changes globals, which is kind of the point it's trying to make here.

There are better ways to achieve thi

[2018-09-06 06:01] bethesque opened #113 "Please update to ruby-standalone 1.58.0"
Or whatever the latest version is by the time this gets done.

This version moves the pact broker pact retrieval code in to the ruby code. This is to support the new "pending pacts" feature, and to fix the "have to configure the SSL for both node and Ruby" issue.

The new command line parameters are:

[code]

The existing `--broker-username` and `--broker-password` will be maintained.

[2018-09-13 08:02] Glennvdp opened #114 "Pact binary redownloads with every npm install"
https://github.com/pact-foundation/pact-node/blob/a69f127535d6e719de683405bb38cc45aed64093/standalone/install.ts#L117

On this line there is a check to see if the pact standalone binary already exists, however it seems this doesn't work as whenever I do an npm install the binary gets redownloaded.

[2018-09-13 14:51] samuelmaddock opened #115 "TypeScript errors due to usage of bunyan dependency types"
@pact-foundation/pact-node version: 6.19.11
bunyan version: 1.8.12
@types/bunyan version: 1.8.2

The usage of the bunyan dependency seems incorrect in [logger.ts](https://github.com/pact-foundation/pact-node/blob/master/src/logger.ts#L8).

TypeScript complains that `Type 'typeof Logger' is not a constructor function type.` in logger.d.ts from the compiled module. The fix seems to be
[code]

For no

[2018-09-24 19:44] jsriram7 opened #116 "Pact-ruby-standalone"
Hi,

I work in an organization protected by a firewall. When I npm install pact-node, i am not able to get the pact ruby standalone since the postinstall.js script directly references it. I read your docs about configuring the standalone separately. Is there any way, that your post install script can reference the github through a proxy and not directly reference it from github. Thanks

[2018-09-24 21:36] mefellows commented on #116
The standard http_proxy environment variables should be honoured, have you tried that?

[2018-09-24 21:40] mefellows commented on #116
It shouldn't. Can you post the exact variables you use, your os versions of node etc. ?

[2018-09-24 21:40] jsriram7 commented on #116
Error: Unhandled Promise Rejection: Postinstalled Failed Unexpectedly: Error downloading binary from https://github.com/pact-foundation/pact-ruby-standalone/releases/download/v1.54.4/pact-1.54.4-osx.tar.gz: Error: getaddrinfo ENOTFOUND github.com github.com:443

[2018-09-24 21:42] jsriram7 commented on #116
https-proxy= /*company proxy*/
proxy=/*company proxy*/
node version 9.7.1

[2018-09-24 21:51] mefellows commented on #116
Thanks, I'll check this morning.

That being said, these look like npm config settings, might be worth setting the Environment variable `HTTPS_PROXY` in your shell

[2018-09-24 22:01] jsriram7 commented on #116
I have set it up in .npmrc file

[2018-09-24 22:37] mefellows commented on #116
So, what I'm talking about is an _environment_ variable e.g.

`HTTPS_PROXY=<your proxy details> npm i @pact-foundation/pact-node`

Have you tried this?

[2018-09-25 16:14] Bmahecha123 opened #117 "Improper Error Handling in pacts.rb"
Version: "@pact-foundation/pact-node": "^6.19.11"

Hello,

When I publish my pacts I am getting a JSON parsing error from the pact_broker ruby client:
Could not publish pact:
`Error making request - JSON::ParserError A JSON text must at least contain two octets! /node_modules/@pact-foundation/pact-node/standalone/darwin-1.54.4/lib/vendor/ruby/2.2.0/gems/pact_broker-client-1.16.1/lib/pact_broker/cl

[2018-09-25 18:36] #117 closed

[2018-09-25 18:36] Bmahecha123 commented on #117
The more I was looking; I see that our in-house pact-broker is returning a string.

[2018-09-25 23:03] mefellows commented on #117
Is it something you've done differently (e.g. proxy in front of it) or something in the broker?

[2018-09-27 05:42] TimothyJones opened #118 "Single quote in consumer/provider names causes test failures"
(Originally reported against `pact-js` [here](https://github.com/pact-foundation/pact-js/issues/160))

If the consumer or provider names contain single quote characters, the pact mock server doesn't spin up correctly, and connections are refused.

I've provided a branch that illustrates the problem in the Jest example for pact-js:

     git clone git@github.com:TimothyJones/pact-js.git
     cd pac

[2018-10-01 06:42] keynan opened #119 "Missing use docker config"
The foundation provides a docker image for pact-mock-service, so why is there no setting to use it in the test library?

[2018-10-01 06:43] mefellows commented on #119
Can you please elaborate on your needs? e.g. What do you need, why you need it and why we should support it?

[2018-10-01 08:03] keynan commented on #119
I need to run unit tests against a mock server in an environment that does not support ruby. However, starting a docker image is perfectly acceptable

[2018-10-01 08:29] mefellows commented on #119
`pact-node` does not require a Ruby environment - it works out of the box (and also within Docker, of course), but if you could elaborate on your requirement we might be able to help.

Sure, what would you like it to do? The Docker container is designed to start the mock server in a very specific, OS and language agnostic way. Pact Node hides all of this from you and provides a JS (language) speci

[2018-10-01 10:07] keynan commented on #119
This is a log from running your _library_
[code]

So I'd like to control what process gets invoked to start that http server so I don't get '/ruby/bin/ruby: not found' errors.

[2018-10-01 11:29] mefellows commented on #119
Thanks, now we're getting somewhere!

So to me, that looks like either a) a bug, b) a documentation issue or something else. We test our library on Mac, Linux and Windows so should work on all of those.

I'm guessing it's a linux environment - can you please provide details of the runtime?

If you have a build/repo we can use to reproduce the issue, perhaps we can get to the bottom of it.

Also, i

[2018-10-01 13:33] keynan commented on #119
It's running inside a pipeline (bitbucket i.e. docker)

[code]

the ruby error occurs during setup

[code]

[2018-10-02 00:01] mefellows commented on #119
OK thanks for this. There are a few problems.:

1. You don't need to run the mock service in another docker container, `pact-node` will start and manage the mock server for you completely. In fact `pact-js` will do it, and you don't even need to know about `pact-node`. So basically, just run your standard pact tests without linking to another container
1. You're running in Alpine, and pact needs t

[2018-10-02 00:54] keynan commented on #119
This is the problem. In all three libraries I'm trying to use: Java, golang, typescript/JS. Your test libraries conflate starting the service with talking to the service.

An alternative example, in java, you have a @Rule that both starts a service and configures the client. With the rule, it conflicts with the docker service which now holds my port. Without the rule the @Path annotation isn't loo

[2018-10-02 02:27] keynan commented on #119
It sounds like your mock service is trying to do things according to a very specific flow that is unpleasant to deal with. What it sounds like is that the mock service must
* be rebooted every time the test suite runs,
* all tests a consumer has against a single provider must be stuffed into a single test class (due to naming conventions), and
* that my test run environment must support whatever d

[2018-10-02 02:38] keynan commented on #119
Though now that I think about it you really have 3-4 steps:
1A. Boot mock service OR boot stub service
2.   Load interactions
*.   Run test scenario
3.   Publish contract
1B. Shutdown mock service OR shutdown stub service

[2018-10-02 04:43] keynan commented on #119
Booting up the mock service and tearing it down for every test class adds time. The example code above was provided with a 10 second timeout. I expect to be able to run the entire test suite in under 10 seconds. Anything that adds unnecessary time is worthy of optimising.

[2018-10-02 04:46] keynan commented on #119
Okay, the global wrapper you referenced may solve the time problem. However I'm still stuck on the environment problem. The image has access to containing docker-daemon. Booting the docker image of the mock service solves the problem. Why do I want my test library magically spawning processes? Give me some control over how that process starts and my biggest problem goes away.

[2018-10-02 12:13] mefellows commented on #119
As per Tim's comments, this isn't completely true, albeit there are definitely enhancements we would like to make to simplify things. See this [issue](https://github.com/pact-foundation/pact-js/issues/215) and this [proposal](https://gist.github.com/TimothyJones/d138bf765509d41e0ce8a4bfb777a31d) for improving the DSL. Your thoughts would be appreciated also given your "fresh eyes".

As you stated

[2018-10-03 04:32] mefellows commented on #119
You're welcome 😀

[2018-10-06 20:06] lirantal commented on #93
@mefellows may we open this again?

at least it seems that I'm getting the same issue of "Unable to find pacts for given provider" when my broker URL is HTTP-only. Is SSL a requirement?

[2018-10-07 05:14] mefellows commented on #93
This issue as I understand it, is that he is using a broker behind http with his own self-signed certificate, and (unfortunately), multiple parts to the Pact ecosystem need to be aware that this is a trustworthy certificate.

Perhaps open another issue if you're having trouble with http? I'm not aware of any restrictions against http-only brokers (as in, it should definitely work).

[2018-10-07 07:27] lirantal opened #120 ""Unable to find pacts for given provider" when working with pact_broker-docker"
## Software versions

-   **OS**: Mac OSX 10.12.6
-   **Docker version**: 17.09.0-ce, build afdb6d4

## Expected behaviour

Provider testing is able to pull and very pacts from the broker.

## Actual behaviour

"Unable to find pacts for given provider"  during a provider's testing verification:

[code]

## Steps to reproduce

1. Clone the pact_broker-docker repository
2. Adjust the nginx config fo

[2018-10-07 12:32] lirantal commented on #120
Update: this might be a non-issue or a very bigger one, depends how you look at it :-)

I used the configuration for the hosted pact broker on dius and I'm still getting the same error with unable to find pacts for the given provider.

[2018-10-08 11:15] mefellows commented on #120
Might need a reproduceable code base Liran, I just tested the following configuration successfully:

docker-compose.yml
[code]
Then ran the following:

[code]

Head over to http://localhost in the browser and you should see:

<img width="713" alt="screenshot" src="https://user-images.githubusercontent.com/53900/46606145-8e944b80-cb47-11e8-8f0b-a21850f9cc1e.png">

[2018-10-08 16:20] lirantal commented on #120
so that's over HTTP?
I'll try to get a working example.

Any ideas what else can I look at?

[2018-10-08 22:16] mefellows commented on #120
Yep, I removed nginx as it's not necessary (just convenient if you want to test SSL etc.). You can pretty much leave nginx there and just hit port 80 instead. It _should_ still work.

I also note that you're hitting port `88`, -have you mapped it to port `80` on the container by any chance? If so, this won't work due to some interesting Rack challenges. That might also be why you're running into i

[2018-10-08 22:17] mefellows commented on #120
Just for posterity, if you want to run a reverse proxy in front of the broker, read [this](https://github.com/pact-foundation/pact_broker/wiki/Configuration#running-the-broker-behind-a-reverse-proxy)

[2018-10-08 23:07] mefellows commented on #120
And to make it easier for those in the future, I just updated the compose file in that sample repository to avoid confusion - now nginx fronts both http and ssl:

https://github.com/DiUS/pact_broker-docker/commit/5b0ebca03431316774ecd61f2fa1d83977b277dd

[2018-10-09 00:57] lirantal commented on #120
Port 88 is for the nginx conf, i.e:
[code]

Needed because I had something else occupying 443 already.

😄 Ok so working with the broker directly instead of nginx worked out just fine.
Indeed probably worth a doc or that example you posted to be made clearer, probably in the pact-broker repo.

We can close the issue.

[2018-10-09 00:57] #120 closed

[2018-10-09 01:03] mefellows commented on #120
Oh I see. I'm still keen to get to the bottom of the HTTPs issue though. Was it the self-signed certificate that was the issue? I think it's a good point, because if we set a default self-signed TLS certificate on the broker and then people use it for dev, they will inevitably run into issues - the handshake will fail between nginx and whatever client library they're using.

[2018-10-09 10:44] lirantal commented on #120
Interesting indeed.
I'm not sure it was related to a connection issue because it seemed to have been able to connect, just didn't find the pacts. Though I haven't looked too deeply in the code for this so maybe it will throw that error even in cases of connection issues.

I'll anyway try your newly pushed change to the docker setup to see if nginx fronts the broker on port 80 without any issues.

[2018-10-11 15:05] maconic commented on #116
We are facing the same issue:
Error: Unhandled Promise Rejection: Postinstalled Failed Unexpectedly: Error downloading binary from https://github.com/pact-foundation/pact-ruby-standalone/releases/download/v1.54.4/pact-1.54.4-linux-x86_64.tar.gz: Error: getaddrinfo ENOTFOUND github.com github.com:443

Our organization does not allow us to use a proxy on the CI server, only Artifactory.

Will this s

[2018-10-11 23:00] mefellows commented on #116
No, you need to install it in a known location and reference it. See the readme

[2018-10-23 03:13] TimothyJones commented on #114
This behaviour works correctly for me. Which version of `pact-node` are you using?

[2018-10-23 04:01] mboudreau commented on #113
Updated to latest, 1.61.1, released version of pact-node 6.20.0.

[2018-10-23 04:01] #113 closed

[2018-10-23 04:03] mboudreau commented on #115
Hm, that's unfortunate. I'll have to update our logger to something that supports typescript better.

[2018-10-23 04:03] mboudreau commented on #114
And which OS are you using?

[2018-10-27 04:53] mefellows commented on #116
@maconic closing due to inactivity. Please re-open if you have more questions/issues.

[2018-10-27 04:53] #116 closed

[2018-11-11 21:05] thombergs opened #228 "Error message when verifying message consumer pact"
I'm trying to create an example for message contracts along the lines of the [examples ](https://github.com/pact-foundation/pact-js/tree/master/examples/messages) in the pact-js repo.

The consumer test is successful, but pact-node does not write the Pact file. The console shows this error message:

[code]

I have pushed the code to github [here](https://github.com/thombergs/code-examples/tree/mas

[2018-11-12 22:14] thombergs opened #134 "Message Provider Validation against Pact Broker Wrongly Succeeds"
I have a strange behavior during message provider verification.

I successfully published a message pact to my test pact broker instance (v 2.26.0, hosted by you, if it helps ;)). When viewing the message pact in the pact broker, it says `Note: this contract could not be parsed to a v1 or v2 Pact, showing raw content instead.` and only shows the JSON.

When I run my [provider test](https://github.

[2018-11-13 02:46] TimothyJones opened #132 "pact-node throws promise rejection errors"
## Software versions

-   **OS**: Mac OSX 10.13.6
-   **Library version**: `@pact-foundation/pact-node@6.20.0`
-   **Node Version**: `v8.11.0`

## Expected behaviour

Using pact-node shouldn't affect the behaviour of unhandled promise rejections.

## Actual behaviour

When `pact-node` is included in a project, any unhandled promise rejections result in the following error:

[code]

This is a probl

[2018-11-27 13:57] mlopezluque commented on #132
I've also run into this issue, any news on if the handler is needed or not?

[2018-12-03 16:37] saikrishna321 opened #136 "pact-broker verification timeouts"
## Software versions

-   **OS**: Mac OSX 10.12.6
-   **Library version**: LATEST
-   **Node Version**: `8.10.0`

## Expected behaviour

I was expecting to verify the contract that has been published to pact-broker.

## Actual behaviour

Timeouts to verify the contract from pact-broker

## Steps to reproduce

[E2E test](https://github.com/pact-foundation/pact-js/blob/master/examples/e2e/test/provi

[2018-12-03 22:04] saikrishna321 commented on #136
@mefellows Thanks for getting back. I'm able to navigate to  https://test.pact.dius.com.au from the browser.

I tried to verify from outside my office network and was able to do it successfully. Looks like proxy issue.

1. I was able to publish the contract to pact-broker from office network and it worked fine.

2. I only see an issue when verifying the published pact from office network.

Is ther

[2018-12-03 22:10] mefellows commented on #136
Great.

Search the issues for proxy, it's come up before. What have you tried so far? It should respect the usual proxy environment variables.

For now, I'm going to close this.

[2018-12-03 22:10] #136 closed

[2018-12-20 15:59] jonheslop commented on #132
Also experiencing this issue, we noticed while updating to `@pact-foundation/pact-node@6.20.0` from `@pact-foundation/pact-node@6.16.4` because of this security vulnerability https://www.npmjs.com/advisories/720.

[2018-12-20 20:57] mefellows commented on #132
@TimothyJones I'm not sure your example properly highlights the issue, although I've seen first hand what you're describing.

If I comment out the Pact require in your test, it still doesn't pass as expected (instead complaining of `TypeError: Cannot read property 'toEqual' of undefined`). If I modify your code to look more like the Jest [documentation example](https://jestjs.io/docs/en/expect#rej

[2019-01-02 15:13] Byron-TW commented on #115
I am experiencing the same issue, which makes it seemingly impossible to use typescript with pact (v7.2.0) in dev dependencies.

The fix suggested above works (i.e. adding `.default`), but I don't know how the local fix with `declare module 'bunyan'` is supposed to be applied.

[2019-01-02 15:19] samuelmaddock commented on #115
@Byron-TW I created a type declaration file (`.d.ts`) to include the module declaration. You should be able to save the file anywhere in your project directory.

[2019-01-02 15:38] Byron-TW commented on #115
This works, thanks!

[2019-01-02 23:05] mboudreau commented on #115
I'll get to this today chaps.

[2019-01-02 23:36] mboudreau commented on #115
@samuelmaddock @Byron-TW What version of TS are you using?

[2019-01-03 01:12] mboudreau commented on #115
pact-node 6.20.1 is going out as we speak with the fixes (removing @types/bunyan).  Please update to this version and let me know if this works for you.  Cheers.

[2019-01-03 01:12] #115 closed

[2019-01-03 01:46] mboudreau commented on #132
Ah, this was added because the original idea is to show if the binaries aren't being loaded properly to the user, but I now see that I added it globally and haven't removed it from the process after the fact.  I'll see if I can do something about this.

[2019-01-03 02:30] #132 closed, assigned to nobody

[2019-01-03 22:23] mefellows commented on #132
Thanks for fixing Michel!

[2019-02-20 11:27] rafael-anachoreta opened #141 "Unable to run canDeploy using latest"
## Software versions

-   **OS**: Mac OSX 10.14.3
-   **Library version**: 6.21.3
-   **Node Version**: v10.15.1

## Expected behaviour
When using `latest:[pacticipant]` I expected the can-I-deploy check to run for the latest version of the pacticipant.

## Actual behaviour
Script ends execution with:
[code]

## Steps to reproduce
[code]

And if I add the pacticipant version to the mix I get ```Er

[2019-02-21 14:46] chris-fran opened #142 "TRACKING SHOULD BE OPT-IN"
I just realized this library [tracks you by default](https://github.com/pact-foundation/pact-node/blob/master/README.md#do-not-track). This is not OK **and I am very disappointed**, specially since it's not documented in the readme of the MAIN library which is https://github.com/pact-foundation/pact-js.

The fact that you add this line doesn't respect my privacy any more because I didn't know this

[2019-02-22 02:50] mboudreau commented on #142
We're responding here mostly: https://github.com/pact-foundation/pact-js/issues/272

[2019-02-24 23:23] mboudreau commented on #142
Closing this as we've updated our documentation on the pact-js and clarified that we are only tracking downloads of the binary only, no personally identifiable information is stored, hence we're not in breach of GDPR or any other privacy related laws.

[2019-02-24 23:23] #142 closed

[2019-02-26 05:09] TimothyJones commented on #141
Thanks for the report, and sorry about this. Looks to be a bug.

For now, you should be able to work around it by using `pacticipantVersion` instead of `latest`:

[code]

Let us know if that helps, and I'll see if I can get some time to look into the bug next week.

[2019-02-26 23:47] mboudreau commented on #141
@rafael-anachoreta hm, this will be a bit more difficult than I imagined.  I tried my hand at it, but because the low level binary has the concept of order aware arguments, it's making it particularly hard to abstract out the functionality.

I've created an issue for pact-broker to use the single responsibility principle which should make this much easier to work with.  When that goes through, thi

[2019-02-27 06:32] TimothyJones commented on #141
I think we could get some milage through changing the options API for `canDeploy`-

[code]

This would be more difficult for the node CLI, but if we replaced the node CLI with binstubs as in [this issue](https://github.com/pact-foundation/pact-node/issues/83), then we could sidestep that problem (and have less code to maintain). Thoughts?

[2019-02-27 09:37] rafael-anachoreta commented on #141
Thanks all for looking into it, you are awesome! 🥇
I really like @TimothyJones's suggestion and initially thought this was how it was meant to be used.

I don't necessarily think the exposed API has to be 1-to-1 copy of the CLI. In other words, I think it is fine to have `canDeploy` take more intuitive options and then do some magic to convert that into something the CLI can understand. 🙂

👍 from

[2019-03-04 06:38] mboudreau commented on #141
@rafael-anachoreta Hey, I released a new version of pact-node, 7.0.0, which includes fixes for 'latest' and 'to' parameters.  Please go ahead and try it out.  It's a major version because it had to break the existing API of being able to do multiple participants/versions in one go, but I found this to be overly confusing and unnecessary.

Let me know how you go :)

[2019-03-04 07:38] TimothyJones commented on #141
I think this is an important feature that we should support. Without it, users would have to call `canDeploy` in a loop for some use cases - eg where you know a deployment needs to talk to multiple versions of a consumer (like deploying a provider that is consumed by multiple versions of a mobile app).

If there are no objections, I'd like to take a crack at a PR to fix this up.

Syncing the inter

[2019-03-04 08:08] TimothyJones opened #145 "Distinction between pact-node and pact-js isn't clear"
I'm often confused about the purpose of pact-node vs pact-js - my current understanding (which may be wrong) is that:

* `pact-node` is meant as a wrapper for the binaries, exposing both a js API and the CLI
* `pact-js` is meant for the functionality built on top of the binaries (eg matchers and other helpers to make the experience of writing pact tests and using pact nicer).

I don't think this i

[2019-03-04 08:21] mboudreau commented on #141
@TimothyJones we could create binstubs, but the issue here is that ruby takes a long time to run and I wanted to have better validation and user experience on the CLI side.  I also thought of using Node as an abstraction for the underlying CLI so that the underlying binaries can change and break, but the node API wouldn't need to.

It was also a way to abstract out some ruby conventions which are

[2019-03-04 08:26] mboudreau commented on #145
Personally, I think it would be great if we were to merge them together as I always thought that was going to be the case.  pact-js though is creating 2 separate packages, one for node and another for browsers, which seems weird to me since it should just work no matter what.

However, I think there are a few tricks that @mefellows has put into pact-js to make it work as a proxy so that tests that

[2019-03-06 11:20] mefellows commented on #145
It's a good point. I'm thinking perhaps as a starting point, all JS related repos have a similar table-formatted disambiguation block that helps orient people from the start.

Your summary is basically correct, and there are probably numerous issues in GH where I've said the same. One minor emphasis (mine) is that `pact-js` is what you would use to write contract tests, `pact-node` is a library th

[2019-03-07 01:35] mboudreau commented on #145
I think there's definitely a way to make it work.  Maybe we should have pact-js be completely javascript (no node) and I can put a simple API interface with pact-node to control pacts servers and such.  All the user would need to do is make sure that pact-node runs before the tests start, which should be easy enough.

[2019-03-07 04:08] TimothyJones commented on #145
I really like @mefellows's suggestion about having preamble in the different readmes. And, I also think "you probably don't want to use `pact-node` directly" would solve the strange deployments I have seen.

Is some of the confusion to do with the naming? As in, if I'm writing a node app, it seems like I'd want `pact-node`, when the reality is that I probably want `pact-js`. Would `pact-node` be b

[2019-03-07 04:13] TimothyJones commented on #110
Further to this, I wondered if we could detect that the clock had been replaced and at least throw a helpful error - even if we could only detect sinon's clock replacement.

I looked through the sinon docs and source, and couldn't find anything directly helpful. I might open an issue with them.

[2019-03-07 06:34] mefellows commented on #145
What you're describing is pact-js and pact-web.

But I'm not sure we gain anything by doing it. It's just not possible to support all the features in the browser, actual servers need to run for certain things (message pacts, request filters, for eg) which act as proxys to invoke functions. It's part of the framework we have today.

A few possibilities could maybe get us out of that jam like web as

[2019-03-08 06:24] parasvora opened #148 "Incorrect matching of string"
## Software versions

-   **OS**: e.g. Mac OSX 10.13.6
-   **Library version**:
-   **Node Version**: `node --version` 11.6.0

## Expected behaviour

Expected api response set from **pact-jvm**
[code]

Below is updated in the **pact-broker**

[code]

Below is the provider script in **pact-node**:

[code]

The matching on the response for node **content** in the expected response should pass any st

[2019-03-08 07:00] mefellows commented on #148
Thanks. This probably belongs in pact-js, not here.

Also, please attach your pact file and any relevant logs.

It looks like the matcher is not being serialised into the pact file, as it seems to be matching verbatim.

[2019-03-09 12:59] #141 closed

[2019-03-28 20:03] millerick opened #149 "pact-node fails to download binary on Ubuntu 16.04 node 10.13.0"
## Software versions

-   **OS**: Ubuntu 16.04
-   **Library version**: `6.19.11` but this issue also happens with the latest version
-   **Node Version**: `v10.13.0`

## Expected behaviour

`npm ci` successfully installs node-pact

## Actual behaviour

The binary does not install
[code]
Looking inside `node_modules/@pact-foundation/pact-node/standalone`, this is downloaded for `pact-1.54.4-linux-

[2019-03-28 21:14] mefellows commented on #149
Interesting, I wonder if GitHub has changed something as this has been the way for a while now

[2019-03-28 21:23] millerick commented on #149
It's likely that something changed.  I put out a support ticket to them a few hours ago using the link, and have not yet received a response.

[2019-03-28 21:25] millerick commented on #149
The install still works under node 8, which I find interesting.  I'm not sure what the exact difference in behavior is between the two.

[2019-03-28 22:41] tburraston commented on #149
This is affecting us as well (as of ~6 hours ago), so I appreciate all the work that's going into resolving this. 😃

[2019-03-28 23:05] #149 closed

[2019-03-28 23:08] bronhuston commented on #149
+1 on this as well. We also appreciate any work going on to investigate this. We are also on Jenkins with Linux AMIs and Node 10.13 and we are seeing checksum differences as well

<img width="1028" alt="Screen Shot 2019-03-28 at 4 05 25 PM" src="https://user-images.githubusercontent.com/1930530/55198566-b7e77900-5173-11e9-9a36-4ca97f50055a.png">

[2019-03-28 23:36] mefellows commented on #149
Thanks for your patience folks. A new version should be out, please let us know if this helps.

As a quick aside for anyone else struggling, as a temporary fix you can still manually download the binary  and configure pact-node: https://github.com/pact-foundation/pact-node/#pact-download-location. Only do this if you have to, because the binary it pulls down changes frequently.

[2019-03-28 23:39] mboudreau commented on #149
That's version `8.1.1` which is out BTW :P

[2019-03-29 00:43] millerick commented on #149
Can `@pact-foundation/pact` be updated to allow this newer version as well?  It is still locked to `@pact-foundation/pact-node` versions `^6.21.4`

https://github.com/pact-foundation/pact-js/blob/master/package.json#L79

[2019-04-01 15:47] millerick commented on #149
For those discovering this now, I received confirmation from Github support on two things:
1. Specifying the `User-Agent` like in this PR is a proper fix for the issue that we encountered.
2. The issue that many of us were encountering because of this should no longer be an issue.  Their data center team should have resolved it over the weekend.

[2019-04-01 19:51] mefellows commented on #149
Thanks for the update.

On Tue, Apr 2, 2019 at 2:47 AM millerick <notifications@github.com> wrote:

--
Matt Fellows
www.onegeek.com.au
calendly.com/mfellows

[2019-04-11 12:25] YOU54F opened #152 "Publish latest version of pact-node to resolve yarn audit issues"
Hi,

The following [PR](https://github.com/pact-foundation/pact-node/pull/151) upgraded tar which has a vulnerability, can we please publish a new version to npm, and update pact-js to reference it as well.

Many thanks

![Screenshot 2019-04-11 at 13 25 52](https://user-images.githubusercontent.com/19932401/55957096-5fc57200-5c5d-11e9-9d3c-7ce02b61b7a5.png)

[2019-04-11 23:04] mefellows commented on #152
Pact node v8.1.2 will be going out shortly, thanks!

[2019-04-11 23:04] #152 closed

[2019-04-11 23:11] mefellows commented on #134
I think this issue is resolved now @thombergs - can you please confirm?

[2019-04-11 23:17] mboudreau commented on #152
damnit @mefellows why do you have to be so quick on the button in the morning :P

[2019-04-11 23:20] mefellows commented on #152
I used to be a night owl, but being responsible for small human changed all of that...

[2019-04-11 23:40] mboudreau commented on #152
Guess I'll be the night owl then, for the both of us :P

On Fri, Apr 12, 2019 at 9:20 AM Matt Fellows <notifications@github.com>
wrote:

--
"If at first you don't succeed, use a bigger hammer." - Unofficial motto of
the Royal Electrical and Mechanical Engineers

[2019-04-12 11:23] YOU54F commented on #152
Thank you Gentlemen!

[2019-04-18 13:05] lazytesting opened #153 "Can I deploy fails incorrectly"
## Software versions

-   **OS**: Windows 10
-   **Library version**: 8.1.2
-   **Node Version**: 11.6.0

## Expected behaviour

if all verifications are succesful the exit code should be 0

## Actual behaviour

exit code is != 0

## Steps to reproduce

Run can I deploy against the broker (with all verifying successful) and run pact.canDeploy(opt)

## Relevant log files

   Computer says yes \o/

[2019-04-18 14:15] mboudreau commented on #153
Let me have a look, but my guess is that this is the underlying pact binary
that might be faulty. I'll have a gander tomorrow.

On Thu., 18 Apr. 2019, 11:05 pm Maarten Groeneweg, <notifications@github.com>
wrote:

[2019-04-18 20:55] TimothyJones commented on #153
What is the value of opt when you’re seeing this behaviour?

[2019-04-23 06:17] lazytesting commented on #153
I'm using:
[code]

[2019-04-23 13:59] TimothyJones commented on #153
Apologies, somehow I didn’t see the solution part of your original post. Yes, a PR would be very welcome, and I agree we should eventually change it to something less brittle.

T

Sent from my mobile

[2019-04-24 15:10] lazytesting commented on #114
I see the same thing here. I'm running it on Windows 10 from powershell

[2019-04-24 15:43] lazytesting commented on #114
forgot what I said, cannot reproduce it...

[2019-04-30 09:06] lukaszfiszer opened #156 "Installation reported as successfull despite error in postinstall script"
## Software versions

-   **OS**: e.g. Windows 10
-   **Library version**: e.g. `8.2.0`
-   **Node Version**: `10.15.1`

## Expected behaviour

When a postinstall scripts fails to download binaries or validate their checksum, the process should be terminated so that npm/yarn knows that it has failed, resulting in failed installation

## Actual behaviour

A warning is printed in console but the pro

[2019-04-30 09:12] lukaszfiszer commented on #156
The fix would beto catch failed promise in [postinstall.js](https://github.com/pact-foundation/pact-node/blob/master/postinstall.js) and do `process.exit(1)` there

[2019-05-03 08:26] halfzebra opened #157 "participantVersion and latest are not mutually exclusive in CanDeploy"
Hello friends, I'm happy to use Pact!

I've noticed something in how `pact-node` parses the options to `can-i-deploy`.

## Software versions

-   **Library version**:
    - @pact-foundation/pact-node ^8.1.2

## Expected behavior

I think `pact can-i-deploy` command and `CanDeploy` should allow me to check whether I can deploy current service against the specified tag without specifying a version.

[2019-05-03 08:34] bethesque commented on #157
Why is this cli even wrapped @mboudreau. What value is it providing?

[2019-05-03 09:20] mboudreau commented on #157
@bethesque typescript typings, variable checking (spinning up a binary is slow), coding standards, and fixing issues through abstraction where possible.  For a while, we didn't even have the provider verifier as a binary so we implemented it ourselves as a separate thing.

Essentially, just trying to add some normalcy to how node work without having the ruby implementation details bleed through.

[2019-05-03 11:35] bethesque commented on #157
It's a CLI, what rubyisms are in it? What coding standards and abstractions are you concerned about?

[2019-05-03 13:54] halfzebra commented on #157
I feel like it might be excessive to perform assertions on the user input which is not used directly in the JavaScript code.

If assertions are going to be removed, users who choose to run `CanDeploy` directly might experience difficulties figuring out what exactly is wrong with the options they are passing, because the binary does not take into account weird situations when someone passes an arra

[2019-05-15 13:34] YOU54F opened #159 "upgrade to latest caporal version to avoid lodash vuln"
Hey, can we upgrade the version of Caporal to avoid a vulnerability in lodash.merge
[code]

Resolved in PR https://github.com/mattallty/Caporal.js/pull/144

and released in `v1.2.0` https://github.com/mattallty/Caporal.js/releases/tag/v1.2.0

[2019-05-16 00:29] #159 closed

[2019-05-16 00:30] TimothyJones commented on #159
Fixed, thanks for the heads up.

[2019-05-16 01:35] TimothyJones commented on #159
8.3.1 is building now with this fix.

[2019-05-18 23:58] #153 closed

[2019-05-19 00:18] mefellows commented on #153
Thanks @lazytesting, version `8.3.2` should be out soon with your fix - much thanks.

[2019-05-19 00:48] mefellows commented on #114
Closing due to inactivity and lack of evidence.

[2019-05-19 00:48] #114 closed

[2019-05-19 00:50] #134 closed

[2019-05-19 00:52] mefellows commented on #38
Pact JS now generates metadata as per beow:

[code]

[2019-05-19 00:52] #38 closed

[2019-05-19 00:52] mefellows commented on #38
... ☝️ as of a long time ago!

[2019-05-19 00:52] #99 closed

[2019-05-28 05:49] TimothyJones commented on #83
I think this is now fixed by #161 (thanks @mefellows! Much appreciated!)

[2019-05-28 05:49] #83 closed

[2019-05-30 03:56] aaron-humerickhouse opened #162 "pact-node stub does not start"
## Software versions

-   **OS**: Mac OSX 10.13.6
-   **Library version**: 8.3.3
-   **Node Version**: `8.11.2

## Expected behaviour

Stubbed server is running.

## Actual behaviour

[code]

## Steps to reproduce

[code]

## Relevant log files

No log provided with verbose mode and log set

Command Output:

[code]

[2019-05-30 03:59] mefellows commented on #162
Hi @aaron-humerickhouse, I tried your steps to reproduce - but there is no `package.json` file in the repository so both the `npm install` and `node ...` commands don't do anything.

Was this an accidental ommission?

[2019-05-30 07:12] mefellows commented on #157
As a related aside, see #161 (the can-i-deploy task is not available to be called outside of the Node API if that is convenient)

[2019-05-30 12:31] aaron-humerickhouse commented on #162
It absolutely was an omission.  It should be added now, sorry about that.

[2019-05-31 12:34] mefellows commented on #162
Ah, yes. The issue is it needs an absolute URL. Sorry!

i.e. update your call as follows:

[code]

If you're just calling via the CLI anyway and note via a Node API (see #83), you could possibly just call the tool that pact-node wraps directly and is installed into the `./node_modules/.bin` dir. e.g.

[code]

Hope this helps!

[2019-05-31 12:34] #162 closed

[2019-06-06 11:26] FRosner opened #163 "pact-node CLI exit code 0 even if pact-ruby-standalone exits with 1"
# Pre issue-raising checklist

I have already:

* [x] Upgraded to the latest version of the relevant libraries
* [x] Checked to see if the issue has already been raised
* [x] Created an executable example that demonstrates the issue using either:
  * a Dockerfile
  * a fork of https://github.com/pact-foundation/pact-ruby-standalone-e2e-example
  * a Git repository with a Travis or Appveyor (or sim

[2019-06-06 11:52] #163 closed

[2019-06-27 12:28] rafaroca opened #165 "Please update standalone to 1.69.0"
Hi,
please update the standalone version to 1.69.0.
This version includes the pact-broker-client 1.19.0 which contains a fix for passing the broker token via command line.

Beth pointed out that the issue I opened was fixed but needs the standalone to be updated: https://github.com/pact-foundation/pact_broker-client/issues/50

[2019-06-28 01:11] TimothyJones commented on #165
Thanks for the heads up! I'm publishing pact-node 8.6.1 with this fix now.

[2019-06-28 01:11] #165 closed

[2019-07-03 15:44] rafaroca commented on #165
Sorry to bother again. I cannot see the 8.6.1 release published. It would be great if you could publish the new version as a release. Thanks!

[2019-07-03 22:22] mefellows commented on #165
`8.6.2` is on its way now (see tagged build: https://travis-ci.org/pact-foundation/pact-node/builds/553979034)

[2019-07-04 00:29] TimothyJones commented on #165
Apologies, looks like I forgot part of the release process.

[2019-07-05 16:09] qamatic opened #166 "standalone extract owner groups"
## Software versions

"@pact-foundation/pact-node": "8.2.0"

## Expected behaviour

tar extracting should happen with current logged in user / group

## Actual behaviour

tar which extracts files but doing with archieve file owner groups  which prevents executes files  unless you do chown to current user.

## Steps to reproduce

just create a dockerfile
 FROM node:10.15.3-alpine AS build
try npm i

[2019-07-08 19:14] senips1001 commented on #166
here is the work around if anyone wants .  Add this in your Dockerfile
RUN chown -R root:root node_modules/@pact-foundation/pact-node/standalone/

[2019-07-08 19:18] senips1001 commented on #166
I also ran into several other problems.  So the  shell scripts written in mix of sh and bash under standalone pact distribution so no good if your docker uses ash/sh shells.  I am logging here if the team would like to investigate and fix it future.

[2019-07-08 22:28] mefellows commented on #166
Thanks @senips1001. We know we have a dependency on bash at the moment - you'll find more on this over on the pact-js repo (as well as a number of others). Appreciate the visibility here is difficult, and we'd like to move to our docs.pact.io website for all to see.

I'm not convinced of the underlying permissions issue - would you be willing to share a code example that reproduces it?

[2019-07-09 16:14] senips commented on #166
Well, I was literally on this about 3days to run the whole thing run finally.  Anyway here is an example https://github.com/qamatic/examples-pact

[2019-07-10 11:07] TimothyJones commented on #145
@mboudreau  I've been thinking about this a bit more - I like your suggestion of merging the two together. Unless there are objections, I'll start a spike to see what a multi-module monorepo would look like next time I have a few spare cycles.

[2019-07-11 22:10] Blackbaud-BobbyEarl opened #168 "Update referenced version of caporal"
This library explicitly references version `1.2.0` of `caporal`.  That version in turn explicitly references a version of `lodash` which contains security vulnerabilities.

I've created https://github.com/mattallty/Caporal.js/issues/153 and https://github.com/mattallty/Caporal.js/pull/154 to hopefully address that soon.

Once that's released, I'm happy to create a pull request referencing the upda

[2019-07-15 01:47] TimothyJones commented on #168
Thanks @Blackbaud-BobbyEarl ! Feel free to open a PR when you are ready.

We really appreciate this level of commitment to a fix!

[2019-07-15 05:33] TimothyJones commented on #168
Also, I've just realised that #167 removes the dependency on Caporal (the PR removes the node-based CLI now that we have binstubs, which simplifies some other issues). That would be another path to a fix.

[2019-07-15 13:32] Blackbaud-BobbyEarl commented on #168
Thanks for the update @TimothyJones.  Personally, I have no preference on which technique you choose, just hoping to get rid of the GitHub security alert.  :-)

[2019-07-15 14:21] TimothyJones commented on #166
Thanks for the example repo!

According to the documentation of [`tar`](https://www.npmjs.com/package/tar), the default way it handles permissions changes depending on whether or not it is run as root:

This is not what we want, and I expect it affects docker users the most (as they're most likely to run as root).

I think we should correct this, because extracting with the owners stored in the ar

[2019-07-16 11:23] #166 closed

[2019-07-16 11:49] TimothyJones commented on #168
Version `9.0.0` is out with this fix.

[2019-07-16 14:43] #168 closed

[2019-07-20 18:26] senips commented on #166
@TimothyJones Thank you for the fix.

[2019-08-04 01:24] TimothyJones commented on #157
#173 has a fix for this, with a much improved options interface.

[2019-08-04 04:02] TimothyJones opened #176 "Dev chore: replace tslint with eslint"
This project uses [ts-lint](https://github.com/palantir/tslint), which will be deprecated "some time in 2019" (see [here for their roadmap](https://github.com/palantir/tslint/issues/4534)).

Their recommendation is to migrate to eslint, which now has typescript support.

I'm making this ticket to remind us to make the switch.

While we're there, we could also enable linting during the build pipeli

[2019-08-05 19:32] kuangp opened #177 "Typo in Verifier code"
Found a typo here from a recent commit: https://github.com/pact-foundation/pact-node/blob/a640ebb31fd1748539c1e7084419a74cdcb27331/src/verifier.ts#L33

`customProviderHeaderu` should be `customProviderHeaders`

[2019-08-06 05:16] TimothyJones commented on #177
Thanks for reporting this! Fixed in 9.0.2.

[2019-08-06 05:16] #177 closed

[2019-08-12 00:27] #110 closed

[2019-09-03 21:38] ckotyan opened #179 "Multiple Provider Verifier type support"
## Software versions
- MacOs
-   **OS**: Mac OSX 10.14
-   **Library version**: 8.2.6
-   **Node Version**: 10.16

## Expected behaviour

The message Pact should only verify contracts for message type consumers contracts and Http REST  provider tests should only verify REST call like PACT type consumer contracts.

## Actual behaviour
I have a micro service which has REST endpoints as well as it pu

[2019-09-03 22:19] mefellows commented on #179
At the moment, you'll need to give your provider a different name (e.g. `MyProvider` and `MyMessageProvider` and publish the contracts that way. This will prevent that overlap.

cc: @bethesque

[2019-09-03 23:40] bethesque commented on #179
We definitely want to support this use case. It's just a matter of finding the time. It will take a fair bit of work, because it's not just the publishing, it's also incorporating the results into can-i-deploy. I've raised an issue for it [here](https://github.com/pact-foundation/pact_broker/issues/302) but I'm not sure when it's going to get to the top of the priority list.

[2019-09-04 13:15] ckotyan commented on #179
Hey @mefellows and @bethesque that was a very quick turnaround. Appreciate that. I will try different provider names and see if that resolves our issue.